<% provide :title, "谁看过我的简历" %>
<div class="resume-views">
  <div class="resume-views-list">
    <a href="/webapp/resume_views/show">
    <div class="hospital-list">
        <div class="title">武汉市同济医药</div>
        <div class="job">发布中的职位 <span>6个</span> </div>
        <div class="right"><%= image_tag "right.png"  %></div>
        <div class="view-time">查看时间： 2015.04.26 13：23</div>
    </div>
    </a>
    <a href="/webapp/resume_views/show">
    <div class="hospital-list">
        <div class="title">武汉市同济医药</div>
        <div class="job">发布中的职位 <span>6个</span> </div>
        <div class="right"><%= image_tag "right.png"  %></div>
        <div class="view-time">查看时间： 2015.04.26 13：23</div>
    </div>
    </a>

  </div>
</div>
