<% provide :title, "谁看过我的简历" %>
<div class="resume-views">
  <% @resume_view.each do |r| %>
  <div class="resume-views-list">
    <a href="/webapp/resume_views/show">
    <div class="hospital-list">
        <div class="title"><%= r[:hospital_name] %></div>
        <div class="job">发布中的职位 <span>6个</span> </div>
        <div class="right"><%= image_tag "right.png"  %></div>
        <div class="view-time">查看时间： <%= r[:view_at] %></div>
    </div>
    </a>
  </div>
  <% end %>
</div>

