  @import "mixin.scss";

// 职位管理首页
.jobs-index {
  h4 {
    font-weight: normal !important;
    font-size: 0.84rem !important;
  }

  .top {
    .right {
      width: 0.75rem;
    }
  }

  #job_content {
    background: #fff;
    min-height: 35rem;
    padding-bottom: 2.88rem;
    .job-nav {
      width: 100%;
      height: 2.17rem;
      line-height: 2.17rem;
      background: #f4f4f4;
      span.nav-img {
        margin-left: 1rem;
        padding: 0.17rem 0.5rem 0.17rem 0.5rem;
        border: 1px solid #ffa200;
        border-radius: 0.26rem;
        color: #ffa200;
        font-size: 0.7rem;
        img {
          width: 0.55rem;
          margin-right: 0.5rem;
        }
      }
      .refresh {
        display: none;
        position: absolute;

        left: 50%;
        margin-left: -10px;
        margin-top: 0.5rem;
        width: 1rem;
      }
      .new-job {
        position: absolute;

        right: 20px;
        img {
          width: 0.9rem;
        }

      }
    }
    .job-status {
      width: 100%;
      display: none;
      position: relative;
      .after-mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 33.5rem;
        background: #000;
        z-index: 10;
        opacity: 0.5;
        filter:alpha(opacity=50);
      }
      ul {
        background: #fff;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 11;
        li {
          padding-left: 1.08rem;
          line-height: 0.9rem;
          font-size: 0.7rem;
          padding-top: 0.72rem;
        }
        li:nth-child(1) {
          color: #3f9d9f;
        }
        li:nth-child(8) {
          padding-bottom: 0.72rem;
        }
      }
    }
    .job-sort {
      .show-all,
      .sort-content {
        width: 92%;
        margin: 0 auto;
        list-style: none;
        li {
          background: #fff;
          border-bottom: 1px solid #e3e3e3;

          .name-box {
            span {
              margin-left: 0.7rem;
              color: $font-gray2;
              font-size: 0.7rem;
            }
            p {
              margin-top: 0.4rem;
              margin-bottom: 0.22rem;
              color: $font-gray2;
              font-size: 0.7rem;
            }
          }

          .status-box {
            position: absolute;
            right: 1rem;
            margin-top: -2.4rem;
            span {
              margin-right: 0.4rem;
              font-size: 0.83rem;
              color: $main-green;
              img {
                width: 0.25rem;
                height: auto;
                position: absolute;
                top: 0.2rem;
                right: 0.7rem;
              }
            }
            img {
              height: 0.55rem;
              width: auto;
              margin-top: -0.29rem;
            }
          }

          h4 {
            display: inline-block;
            margin-top: 0.92rem;
            margin-bottom: 0;
            font-size: 0.9rem;
          }
        }


        // 审核中,冻结中颜色置灰
        .freeze,
        .reviewing {
          .status-box {
            span {
              color: $font-gray2;
            }
          }
        }


      }
      .sort-content {
        display: none;
        width: 92%;
        margin: 0 auto;
        list-style: none;
        li {
          display: none;
        }
      }
    }
  }
}

// show 页面 bobo
.jobs-show {
    width: 100%;
    background: #f3f3f3;
    .float-image {
      position: fixed;
      bottom: 4rem;
      right: 0.7rem;
      width: 2.5rem;
      height: 2.5rem;
      img {
        width: 2.5rem;
        height: auto;
      }
    }
  #job_show {
    .job-time {
      height: 1.72rem;
      width: 100%;
      line-height: 1.72rem;
      text-align: center;
      font-size: 0.7rem;
      color: #3d9f9f;
      background: #e8ffff;
      border-bottom: 1px solid #3d9f9f;
      span {
        margin-left: 0.3rem;
        margin-right: 0.3rem;
      }
    }
    .job-detail {
      width: 100%;
      background: #fff;
      margin-top: 0.7rem;
      border-top: 1px solid #e3e3e3;
      position: relative;
      .job-introduce {
        padding: 0.92rem 1.07rem 0.75rem 1.02rem;
        h3 {
          margin: 0;
          font-size: 0.87rem;
          span {
            font-size: 0.7rem;
            color: #a0a0a0;
            margin-left: 0.8rem;
          }
        }
        p.job-range {
          font-size: 0.7rem;
          color: #ff8b00;
          margin-top: 0.38rem;
          margin-bottom: 0.7rem;
        }
        ul {
          font-size: 0.7rem;
          list-style: none;
          margin: 0;
          li {
            position: relative;
          }
          span {
            color: #a0a0a0;
            margin-right: 0.6rem;
          }
          p {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 7.8rem;
          }
          li:nth-child(2) {
            margin-top: 0.5rem;
          }
          li:nth-child(3) {
            margin-top: 0.5rem;
          }
          li:nth-child(4) {
            margin-top: 0.5rem;
          }
          li:nth-child(5) {
            margin-top: 0.5rem;
          }
        }
      }
      .job-place {
        padding-left: 1.02rem;
        padding-right: 0.87rem;
        font-size: 0.7rem;
        position: relative;
        height: 1.8rem;
        line-height: 1.8rem;
        border-bottom: 1px solid #e3e3e3;
        border-top: 1px solid #e3e3e3;
        a {
          display: block;
          width: 100%;
          width: 100%;
        }
        span {
          color: #a0a0a0;
          margin-right: 0.7rem;
        }
        img {
          width: 0.33rem;
          height: auto;
          position: absolute;
          top: 0.57rem;
          right: 0.87rem;
        }
      }
      .reflesh-job {
        position: absolute;
        top: 2.05rem;
        right: 1.1rem;
        width: 4.2rem;
        height: 1.2rem;
        line-height: 1.2rem;
        border-radius: 0.57rem;
        border: 1px solid #3d9f9f;
        color: #3d9f9f;
        font-size: 0.6rem !important;

        background-color: #fff;
        img {
          height: 0.6rem;
          margin-top: -0.1rem;
        }
      }
      .reflesh-time {
        border: 0;
        color: #dbdbdb;
        line-height: 1.3rem;
        background: #a1a1a1;
      }
    }
    .job-right {
      background: #fff;
      border-top: 1px solid #e3e3e3;
      margin-top: 1.05rem;
      .job-descripte {
        padding: 1.07em 1.07rem 3rem 1.02rem;
        h2 {
          margin: 0;
          color: #9b9b9b;
          font-size: 0.7rem;
        }
        h3 {
          margin: 0.6rem 0 0.78rem 0;
          font-size: 0.7rem;
        }
        p {
          margin: 0;
          font-size: 0.7rem;
          line-height: 1.2rem;
        }
        .job-post {
          margin-top: 1.27rem;
        }
      }
    }
  }





.btn-bottom-box {
    position: fixed;
    width: 100%;
    bottom: -2px;
    display:inline-block;
     /* Firefox */
     display:-moz-box;
     -moz-box-orient:horizontal;
     /* Safari, Opera, and Chrome */
     display:-webkit-box;
     -webkit-box-orient:horizontal;
     /* W3C */
     display:box;
     box-orient:horizontal;
     text-align: center;
}
  .btn-bottom {
    border: 0;
    height: 2.78rem;
    line-height: 2.78rem;
    -webkit-box-flex: 1.0;
    -moz-box-flex:1.0;
     box-flex:1.0;
    font-size: 0.87rem;
     background-color: $light-gray2;
    img {
      width: 1.15rem;
    }
  }

  #postPause {
    background-image: url(image_path("icon_20.png"));
    background-repeat: no-repeat;
    background-position: 19% 46%;
    background-size: 0.72rem auto;
    span {
      margin-left: 0.8rem;
    }
  }

  #release {
    background-image: url(image_path("icon_35.png"));
    background-repeat: no-repeat;
    background-position: 18% 44%;
    background-size: 1.1rem auto;
    span {
      margin-left: 1.2rem;
    }
  }

  #end {
    background-image: url(image_path("icon_22.png"));
    background-repeat: no-repeat;
    background-position: 18% 46%;
    background-size: 0.82rem auto;
    span {
      margin-left: 0.8rem;
    }
  }
  .pause-box {
    color: #000;
    .pause,
    .saved,
    .reviewing,
    .fail,
    .fleeze,
    .end {
      background-image: url(image_path("icon_32.png"))!important;
      background-repeat: no-repeat!important;
      background-position: 19% 46%!important;
      background-size: 0.72rem auto!important;
     background-color:  $black-gray;
     color: #dadada;
    }
  }

  .release-box {
    background: #3f9e9f;
    color: #fff;
    .release,
    .reviewing {
      background-image: url(image_path("icon_34.png"))!important;
      background-repeat: no-repeat!important;
      background-position: 18% 44%!important;
      background-size: 1.1rem auto!important;
      background-color:  $black-gray;
      color: #dadada;
    }
  }

  .end-box {
    color: #000;
    .end,
    .reviewing {
      background-image: url(image_path("icon_33.png"))!important;
      background-repeat: no-repeat!important;
      background-position: 18% 46%!important;
      background-size: 0.82rem auto!important;
      background:  $black-gray;
      color: #dadada
    }
  }

}




//job的new页面

.jobs-new {
  // padding-bottom: 4.27rem !important;

  .wrap {
    padding-left: 0.35rem;
    padding-right: 0.35rem;
    width: 100%;
    font-size: 0.86rem;
    background-color: $light-gray;
  }

  .form-group {
    margin-top: 0.5rem;
    overflow: hidden;
    background-color: #fff;
    border-radius: 0.36rem;
    margin-bottom: -2px;
    label {
      float: left;
      padding-left: 1rem;
      padding-right: 1.47rem;
      line-height: 2.58rem;
      font-weight: normal;
      color: $font-gray;
      white-space: pre;
      abbr {
        display: none;
      }
    }
    input {
      float: right;
      padding: 0;
      width: 13rem;
      height: 2.58rem;
      border: none;
      font-size: 0.86rem;
      text-align: right;
      padding-right: 1.78rem;
      box-shadow: none;
      -webkit-box-shadow: none;
      -webkit-appearance: none;
    }
    textarea {
      border: 0;
      padding-left: 1rem;
      height: 100%;
      font-size: 0.86rem;
      // line-height: 1.95rem;
      box-shadow: none;
      overflow-y: visible;
    }
    textarea:focus, input:focus {
      outline: none;
      border-color: inherit;
      -webkit-box-shadow: none;
    }

    .form-control[readonly] {
      background-color: #fff;
    }

    label {
      margin-bottom: 0;
    }
  }
  .job_job_desc {
    .control-label {
      display: none;
    }
  }
  .job_job_demand {
    .control-label {
      display: none;
    }
  }

  .form-group::after {
    content: "";
    width: 0.41rem;
    height: 0.66rem;
    display: block;
    position: absolute;
    right: 1rem;
    margin-top: 0.9rem;
    background: url(image_path("icon.png"));
    background-size: 0.41rem 0.66rem;
  }

  .form-group:nth-of-type(1)::after{
    display: none;
  }

  // .form-group:nth-of-type(5)::after{
  //   display: none;
  // }

  .form-group:nth-of-type(7)::after{
    display: none;
    text-align: left;
  }

  // .form-group:nth-of-type(8)::after{
  //   display: none;
  // }

  .form-group:nth-of-type(10)::after{
    display: none;
  }

  .form-group:nth-of-type(11)::after{
    display: none;
  }

  .form-group:nth-of-type(12)::after{
    display: none;
  }

  .form-group:nth-of-type(13)::after{
    display: none;
  }


  .hospital_introduction {
    height: 13.37rem;
  }

  #submit {
    display: none;
  }

  .job-pubilc {
    position: relative;
    .empty-cont {
      display: inline-block;
      width: 1.3rem;
      height: 1.3rem;
      position: absolute;
      top: 0.65rem;
      right: 0.1rem;
    }
  }

  .job-endtime {
    position: relative;
    .form-group::after {
      content: "";
      width: 0.41rem;
      height: 0.66rem;
      display: block;
      position: absolute;
      right: 1rem;
      margin-top: 0.9rem;
      background: url(image_path("icon.png"));
      background-size: 0.41rem 0.66rem;
    }
    span {
      display: block;
      width: 8rem;
      height: 1.6rem;
      position: absolute;
      top: 0.5rem;
      right: 1.5rem;
      background: #fff;
      line-height: 1.6rem;
      text-align: right;
      font-size: 0.86rem;
      padding-right: 0.44rem;
    }
  }
}



//job的edit页面

.jobs-edit {
  // padding-bottom: 4.27rem !important;

  .wrap {
    padding-left: 0.35rem;
    padding-right: 0.35rem;
    width: 100%;
    font-size: 0.86rem;
    background-color: $light-gray;
  }

  .form-group {
    margin-top: 0.5rem;
    overflow: hidden;
    background-color: #fff;
    border-radius: 0.36rem;
    margin-bottom: -2px;
    label {
      float: left;
      padding-left: 1rem;
      padding-right: 1.47rem;
      line-height: 2.58rem;
      font-weight: normal;
      color: $font-gray;
      white-space: pre;
      abbr {
        display: none;
      }
    }
    input {
      float: right;
      padding: 0;
      width: 13rem;
      height: 2.58rem;
      border: 0;
      font-size: 0.86rem;
      text-align: right;
      padding-right: 1.78rem;
      box-shadow: none;
      -webkit-box-shadow: none;
      -webkit-appearance: none;
    }
    textarea {
      border: 0;
      padding-left: 1rem;
      height: 100%;
      font-size: 0.86rem;
      // line-height: 1.95rem;
      box-shadow: none;
      overflow-y: visible;
    }
    textarea:focus, input:focus {
      outline: none;
      border-color: inherit;
      -webkit-box-shadow: none;
    }

    .form-control[readonly] {
      background-color: #fff;
    }

    label {
      margin-bottom: 0;
    }
  }
  .job_job_desc {
    .control-label {
      display: none;
    }
  }
  .job_job_demand {
    .control-label {
      display: none;
    }
  }

//Huangwei 6.24

//.form-group input:nth-of-type(1){background-image: url("../icon_24.png");}
.job-frist{
    background:url(image_path("icon_24.png")) no-repeat;
    background-size: 0.8rem 0.8rem;
    background-position: 11.6rem 0.9rem;
    }
 .basic_info{
    padding-left: 1.2rem;
    font-size: 0.7rem;
    margin-top: 0.7rem;
    margin-bottom: 0;
    img {
      position: relative;
      top: -0.05rem;
      width: 1.7rem;
      height: auto;
      margin-left: 0.5rem;
    }
}
#job_range{
    color: #ff8b00;
    }

  .form-group::after {
    content: "";
    width: 0.41rem;
    height: 0.66rem;
    display: block;
    position: absolute;
    right: 1rem;
    margin-top: 0.9rem;
    background: url(image_path("icon.png"));
    background-size: 0.41rem 0.66rem;
  }

  .form-group:nth-of-type(1)::after{
    display: none;
  }

  // .form-group:nth-of-type(5)::after{
  //   display: none;
  // }

  .form-group:nth-of-type(7)::after{
    display: none;
    text-align: left;
  }
  // .form-group:nth-of-type(8)::after{
  //   display: none;
  //   text-align: left;
  // }

  .form-group:nth-of-type(11)::after{
    display: none;
    text-align: left;
  }

  .form-group:nth-of-type(10)::after{
    display: none;
  }

  .form-group:nth-of-type(11)::after{
    display: none;
  }

  .form-group:nth-of-type(12)::after{
    display: none;
  }

  .form-group:nth-of-type(13)::after{
    display: none;
    margin-bottom: 2.6rem;
  }

  .hospital_introduction {
    height: 13.37rem;
  }

  form {
    padding-bottom: 1rem;
  }

  #submit {
    display: none;
  }

  .job-pubilc {
    position: relative;
    .empty-cont {
      display: inline-block;
      width: 1.3rem;
      height: 1.3rem;
      position: absolute;
      top: 0.65rem;
      right: 0.1rem;
    }
  }

  .job-endtime {
    position: relative;
    .form-group::after {
      content: "";
      width: 0.41rem;
      height: 0.66rem;
      display: block;
      position: absolute;
      right: 1rem;
      margin-top: 0.9rem;
      background: url(image_path("icon.png"));
      background-size: 0.41rem 0.66rem;
    }
    span {
      display: block;
      width: 8rem;
      height: 1.6rem;
      position: absolute;
      top: 0.5rem;
      right: 1.5rem;
      background: #fff;
      line-height: 1.6rem;
      text-align: right;
      font-size: 0.86rem;
      padding-right: 0.44rem;
    }
  }
  .btn-sright {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 ;
    border: none;
    margin: 0;
    width: 100%;
    height: 2.3rem;
    line-height: 2.3rem;
    text-align: center;
    background: #3f9e9f;
    color: #fff;
  }
}

//----Job-New---界面样式 6.24 Huangwei
#job_basic {
  padding-bottom: 2.3rem;
}
#job_basic .basic_infoo{
    padding-left: 1.2rem;
    font-size:0.7rem;
    margin-top: 0.7rem;
    margin-bottom: 0;
    img {
      position: relative;
      top: -0.05rem;
      width: 1.7rem;
      height: auto;
      margin-left: 0.5rem;
    }
}

.job-frist_new{
    background:url(image_path("icon_24.png")) no-repeat;
    background-size: 0.8rem 0.8rem;
    background-position: 11.6rem 0.9rem;
}

.btn-status{
    padding: 1.5rem 0 1.5rem 0;

}
.btn-status button{
    width: 40%;
    padding: 0.4rem 0 0.4rem 0rem;
    -webkit-border-radius: 7px;
    margin-left: 1.3rem;
}
.btn-status button:nth-child(1){
    border: 1px solid #f8f8f8;
    background-color: #fff;
    color: #3f9e9f;
    box-shadow: none;
}
.btn-status button:nth-child(2){
    border: none;
    background-color: #3f9e9f;
    color:#fff ;
}
.job-vip{
    position: relative;
    input{
        color: #fff;
    }
   .job-slider{
    width: 2.6rem;
    height: 1.38rem;
    background: red;
    position: absolute;
    right: 0.6rem;
    top: 0.65rem;
    background:#f4f4f4;
    border-radius: 8px;
    z-index: 100;
      .job-slider-inner{
          width:1.15rem;
          height: 1.15rem;
          background:#FFFFFF;
          border-radius: 30%;
          margin-top: 0.1rem;
          margin-left: 0.1rem;
      }
  }
}
