// Place all the styles related to the employer/jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jobs-index {
  .sort-content {
    display: none;
    li {
      display: none;
    }
  }
}

.jobs-new{
  //筛选列表样式
  #job_basic {
    position: relative;
  }
  .before-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #F4F4F4;
    z-index: 1000;
    p {
      width: 19.05rem;
      height: 2.53rem;
      line-height: 2.53rem;
      font-size: 0.8rem;
      margin: 0 auto;
      border-bottom: 1px solid #c4c4c4;
      text-indent: 4px;
      cursor: pointer;
    }
  }
}
