// Place all the styles related to the employer/resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com
$font-gray: #a5a5a5;
$light-gray: #f4f4f4;

//简历管理首页
.resumes-index {
  #resume_content {
    width: 100%;
    min-height: 35rem;
    background: #fff;
    padding-bottom: 2.88rem;
    .resume-content {
      width: 100%;
      .resume-nav {
        width: 100%;
        height: 1.93rem;
        list-style: none;
        margin: 0;
        border-bottom: 1px solid #e3e3e3;

        li {
          float: left;
          cursor: pointer;
          display: inline-block;
          cursor: pointer;
          font-size: 0.7rem;
          height: 1.91rem;
          line-height: 1.99rem;
          color: #9f9f9f;
          width: 33.33%;
        }
        li:nth-child(1) {
          text-align: center;
          color: #3f9e9d;
          span {
            display: inline-block;
            height: 100%;
            border-bottom: 2px solid #3f9e9d;
          }
        }
        li:nth-child(2) {
          text-align: center;
          span.month-resume {
            display: inline-block;
            height: 100%;
          }
          img {
            width: 0.49rem;
            height: auto;
            margin-left: 0.2rem;
          }
        }
        li:nth-child(3) {
          text-align: center;
          span {
            display: inline-block;
            height: 100%;
          }
        }
      }

      .order-job {
        width: 89.53%;
        margin: 0 auto;
        padding-top: 2px;
        .order-job-show {
          width: 100%;
          list-style: none;
          li.job-Arrang {
            height: 3.1rem;
            width: 100%;
            line-height: 2.88rem;
            border-bottom: 1px solid #e3e3e3;
            .job-h {
              font-size: 0.87rem;
              float: left;
            }
            .job-reg {
              font-size: 0.7rem;
              float: left;
              margin-left: 1.07rem;
              color: #9f9f9f;
            }
            .job-right {
              float: right;
              display: inline-block;
              height: 2.88rem;
              .job-img {
                display: inline-block;
                padding-top: 0.1rem;
                img {
                  width: 0.95rem;
                  height: 0.67rem;
                  margin-top: -0.3rem;
                }
              }
              .job-len {
                font-size: 0.7rem;
                margin-left: 0.32rem;
                position: relative;
                margin-top: 0.2rem;
              }
              .i-img {
                position: absolute;
                top: -1.4rem;
                right: 0;
                img {
                  width: 0.25rem;
                  height: auto;
                }
              }
              .job-image{
                margin: 0 0.32rem 0 0.6rem;
                img {
                  width: 0.33rem;
                  height: 0.48rem;
                  margin-top: -0.1rem;
                }
              }
            }
            .order-job-list {
              width: 100%;
              min-height: 35rem;
              background: #fff;
              display: none;
              position: absolute;
              top: 2.27rem;;
              left: 0;
              z-index: 1000;
              .sort-nav {
                width: 100%;
                height: 1.93rem;
                background: #f3f3f3;
                line-height: 1.93rem;
                position: relative;
                border-bottom: 1px solid #e3e3e3;
                .job-unhandle {
                  width: 30%;
                  height: inherit;
                  float: left;
                  text-align: center;
                  line-height: 1.97rem;
                  span {
                    font-size: 0.77rem;
                  }
                  .after-mask {
                    position: absolute;
                    top: 1.95rem;
                    left: 0;
                    width: 20.7rem;
                    height: 33.5rem;
                    background: #000;
                    z-index: 10;
                    opacity: 0.5;
                    filter:alpha(opacity=50);
                    display: none;
                  }
                  .handle-resume {
                    position: absolute;
                    top: 1.95rem;
                    left: 0;
                    width: 20.7rem;
                    z-index: 11;
                    background: #fff;
                    display: none;
                    ul {
                      text-align: left;
                      width: 89.53%;
                      margin: 0 auto;
                      list-style: none;
                      li {
                        width: 100%;
                        font-size: 0.77rem;
                        line-height: 0.9rem;
                        padding-top: 0.72rem;
                      }
                      li:nth-child(1) {
                        color: #3d9ea0;
                      }
                      li:nth-child(2) {
                        padding-bottom: 0.72rem;
                      }
                    }
                  }
                }
                .job-unhandle::before {
                  content: "";
                  display: inline-block;
                  width: 0.93rem;
                  height: 0.8rem;
                  background: url(image_path("icon_3.png")) no-repeat center;
                  background-size: 0.9rem auto;
                  position: relative;
                  top: 0.05rem;
                }
                .job-array::before {
                  content: "";
                  display: inline-block;
                  width: 0.93rem;
                  height: 0.8rem;
                  background: url(image_path("icon_3.png")) no-repeat center;
                  background-size: 0.9rem auto;
                  position: relative;
                  top: 0.05rem;
                }
                .job-array {
                  width: 30%;
                  height: inherit;
                  float: left;
                  text-align: center;
                  margin-left: 0.5rem;
                  line-height: 1.97rem;
                  span {
                    font-size: 0.77rem;
                  }
                  .after-mask {
                    position: absolute;
                    top: 1.95rem;
                    left: 0;
                    width: 20.7rem;
                    height: 33.5rem;
                    background: #000;
                    z-index: 10;
                    opacity: 0.5;
                    filter:alpha(opacity=50);
                    display: none;
                  }
                  .sort-resume {
                    position: absolute;
                    top: 1.95rem;
                    left: 0;
                    width: 20.7rem;
                    z-index: 11;
                    background: #fff;
                    display: none;
                    ul {
                      text-align: left;
                      width: 89.53%;
                      margin: 0 auto;
                      list-style: none;
                      li {
                        width: 100%;
                        line-height: 0.9rem;
                        font-size: 0.77rem;
                        padding-top: 0.72rem;
                      }
                      li:nth-child(1) {
                        color: #3d9ea0;
                      }
                      li:nth-child(3) {
                        padding-bottom: 0.72rem;
                      }
                    }
                  }
                }
              }
              .job-pubilc {
                width: 89.53%;
                margin: 0 auto;
                list-style: none;
                li {
                  width: 100%;
                  height: 2.88rem;
                  line-height: 2.88rem;
                  border-bottom: 1px solid #e3e3e3;
                  position: relative;
                }
                a {
                  display: block;
                  width: 100%;
                  height: 100%;
                  .show-name {
                    font-size: 0.87rem;
                    display: inline-block;
                    text-align: left;
                    width: 3.8rem;
                  }
                  span:nth-child(2) {
                    font-size: 0.7rem;
                    color: #9e9e9e;
                    // margin: 0 1rem 0 0.88rem;
                    display: inline-block;
                    text-align: left;
                    width: 1.8rem;
                  }
                  span:nth-child(3) {
                    font-size: 0.7rem;
                    display: inline-block;
                    text-align: left;
                    width: 5.9rem;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    position: absolute;
                    top: 0;
                    left: 5.5rem;
                  }
                  .sort-right {
                    display: inline-block;
                    float: right;
                    span:nth-child(1) {
                      font-size: 0.7rem;
                    }
                    img {
                      width: 0.33rem;
                      height: 0.48rem;
                      // margin-top: 1.2rem;
                      margin-right: 0.6rem;
                      margin-left: 0.75rem;
                    }
                  }
                }
                a:hover {
                  color: black;
                }
              }
              .job-handle {
                a {
                  color: #9e9e9e;
                }
              }
              ul.job-pubilc+ul {
                display: none;
              }
              .sort-resume-ct {
                ul {
                  display: none;
                }
              }
            }
          }
        }
      }
      .order-time {
        display: none;
        position: relative;
        padding-top: 2px;
        .sort-time-all {
          width: 89.53%;
          margin: 0 auto;
          list-style: none;
          li {
            height: 2.88rem;
            line-height: 2.88rem;
            border-bottom: 1px solid #e3e3e3;
            position: relative;
            a {
              display: block;
              width: 100%;
              height: 100%;
              span.show-name {
                font-size: 0.87rem;
                display: inline-block;
                text-align: left;
                width: 3.8rem;
              }
              span:nth-child(2) {
                font-size: 0.7rem;
                color: #9e9e9e;
                display: inline-block;
                text-align: left;
                width: 1.8rem;
              }
              span:nth-child(3) {
                font-size: 0.7rem;
                display: inline-block;
                text-align: left;
                width: 5.9rem;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 5.5rem;
              }
              .sort-right {
                display: inline-block;
                float: right;
                span:nth-child(1) {
                  font-size: 0.7rem;
                }
                img {
                  width: 0.33rem;
                  height: 0.48rem;
                  margin-right: 0.6rem;
                  margin-left: 0.75rem;
                }
              }
            }
            a:hover {
              color: black;
            }
          }
        }
        .time-resume {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          .after-mask {
            position: absolute;
            top: 0;
            left: 0;
            width: 20.7rem;
            height: 33.5rem;
            background: #000;
            z-index: 10;
            opacity: 0.5;
            filter:alpha(opacity=50);
          }
          .time-date {
            background: #fff;
            width: 20.7rem;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 11;
            p {
              width: 89.53%;
              margin: 0 auto;
              font-size: 0.7rem;
              padding-top: 0.72rem;
            }
            p:nth-child(3) {
              color: #3d9ea0;
              padding-bottom: 0.72rem;
            }
          }
        }
      }
      .order-resume {
        display: none;
        padding-top: 2px;
        ul {
          width: 89.53%;
          margin: 0 auto;
          list-style: none;
          li {
            height: 2.88rem;
            line-height: 2.88rem;
            width: 100%;
            border-bottom: 1px solid #e3e3e3;
            position: relative;
            a {
              display: block;
              width: 100%;
              height: 100%;
              .expect-job {
                font-size: 0.87rem;
                display: inline-block;
                width: 6.4rem;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              }
              .middle-info {
                position: absolute;
                top: 0;
                left: 4rem;
                height: 100%;
                span:nth-child(1) {
                  display: inline-block;
                  font-size: 0.87rem;
                  text-align: right;
                  width: 3.8rem;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
                }
                span:nth-child(2) {
                  display: inline-block;
                  text-align: right;
                  width: 1.6rem;
                  font-size: 0.7rem;
                  color: #9e9e9e;
                  position: absolute;
                  top: 0;
                  left: 3.9rem;
                }
                span:nth-child(3) {
                  font-size: 0.7rem;
                  display: inline-block;
                  text-align: right;
                  width: 5.9rem;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
                  position: absolute;
                  top: 0;
                  right: -7.6rem;
                }
              }
              img {
                width: 0.33rem;
                height: 0.48rem;
                margin-top: 1.2rem;
                margin-right: 0.6rem;
                margin-left: 0.75rem;
                float: right;
              }
            }
            a:hover {
              color: black;
            }
          }
        }
      }
    }
  }
}


.resumes-show {
  min-height: 100%;
  .resume-content {
    width: 100%;
    background: #f4f4f4;
    .resume-avatar {
      background: #fff;
      height: 6.67rem;
      width: 92.11%;
      border: 1px solid #e3e3e3;
      border-radius: 0.3rem;
      position: relative;
      margin: 0.43rem auto 0 auto;
      .show-img {
        width: 3.72rem;
        height: 3.72rem;
        border-radius: 50%;
        margin: 1.37rem 0.68rem 0 1.32rem;
        float: left;
      }
      .show-top {
        width: 67%;
        float: left;
        position: relative;
        div {
          position: absolute;
          top: 2rem;
          left: 4rem;
          width: 7.7rem;
          span:nth-of-type(1) {
            display: inline-block;
            position: relative;
            top: -0.17rem;
            font-size: 0.87rem;
          }
          span:nth-of-type(2) {
            display: inline-block;
            text-align: left;
            overflow: hidden;
            max-width: 6rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 1.07rem;
            position: absolute;
            top: -0.4rem;
            margin-left: 0.4rem;
          }
        }
        p:nth-child(1) {
          margin-top: 1.87rem;
          font-size: 0.87rem;
          margin-bottom: 0;
        }
        p:nth-child(2) {
          margin-top: 0.6rem;
          font-size: 0.77rem;
          color: #a5a5a5;
          span:nth-of-type(1) {
            margin-left: 0.9rem;
            margin-right: 0.9rem;
          }
        }
        p:nth-child(3) {
          margin-top: 0.6rem;
          font-size: 0.77rem;
          color: #a5a5a5;
          span:nth-of-type(1) {
            margin-left: 0.9rem;
            margin-right: 0.9rem;
          }
        }
      }
    }
    .resumes-preview-public {
      h1 {
        display: none;
      }
      .resumes-preview-bg {
        width: 92.11%;
        border: 1px solid #e3e3e3;
        border-radius: 0.3rem;
        margin: 0.6rem auto 0 auto;
        padding-left: 0.87rem;
        padding-top: 1.15rem;
        background: #fff;
        .resumes-base {
          font-size: 0.8rem;
          margin-bottom: 1.1rem;
        }
        tr {
          display: block;
          span {
            margin-right: 1.59rem;
          }
        }
        tr+tr {
          display: block;
          margin-top: 0.7rem;
        }
        td+td {
          padding-left: 1rem;
        }
      }
    }
    .resume-show {
      h1 {
        display: block;
        font-size: 0.7rem;
        margin-top: 0.75rem;
        margin-bottom: 0;
        padding-left: 0.75rem;
      }
      .box {
        border-left: 1px solid #3f9e9f;
        padding-left: 0.7rem;
        position: relative;
        .green-point {
          width: 0.6rem;
          height: 0.6rem;
          border-radius: 50%;
          background: #3f9e9f;
          position: absolute;
          top: -0.6rem;
          left: -0.32rem;
        }
        time {
          font-size: 0.7rem;
        }
        h3 {
          font-size: 0.8rem;
          margin-top: 0.45rem;
          margin-bottom: 0.47rem;
        }
        p {
          font-size: 0.7rem;
          color: #696969;
          line-height: 1.1rem;
          padding-bottom: 0.35rem;
        }
      }
      .expect-employer {
        border-left: none;
        .expect-preview {
          padding-bottom: 0;
        }
      }
      .employer-style {
        padding-top: 1.15rem;
        min-height: 3rem;
        .cer-employer {
          border-left: none;
        }
      }
      #preview-expect {
        background: #fff;
        width: 92.11%;
        border: 1px solid #e3e3e3;
        border-radius: 0.3rem;
        margin: 0.6rem auto 0 auto;
        padding-left: 0.87rem;
        padding-top: 0.6rem;
      }
    }
    .employer-job {
      padding-bottom: 1rem;
    }
    #btn_action {
      height: 2.45rem;
      width: 100%;
      list-style: none;
      text-align: center;
      line-height: 2.45rem;
      margin-bottom: 0;
      font-size: 0.87rem;
      li:nth-child(1) {
        width: 50%;
        height: inherit;
        background-color: #fff;
        float: left;
      }
      li:nth-child(2) {
        width: 50%;
        height: inherit;
        background-color: #3f9e9f;
        float: left;
        color: #fff;
      }
    }
    #btn_unright {
      margin-top: 1.5rem;
      height: 2.45rem;
      width: 100%;
      list-style: none;
      text-align: center;
      line-height: 2.45rem;
      margin-bottom: 0;
      font-size: 0.87rem;
      background: #a1a1a1;
      color: #dadada;
    }
    #btn_interview {
      margin-top: 1.5rem;
      height: 2.45rem;
      width: 100%;
      list-style: none;
      text-align: center;
      line-height: 2.45rem;
      margin-bottom: 0;
      font-size: 0.87rem;
      background: #a1a1a1;
      color: #dadada;
    }

  }
  .wrap {
    position: relative;
    #hide_btn {
      display: none;
      position: absolute;
      top: -2.9rem;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.5);
      ul {
        height: 8.4rem;
        width: 13.5rem;
        background: #fff;
        font-size: 0.8rem;
        border-radius: 0.23rem;
        position: fixed;
        left: 50%;
        top: 50%;
        margin-left: -6.75rem;
        margin-top: -4.2rem;
        list-style: none;
        li:nth-child(1){
          width: 100%;
          height: 5.6rem;
          border-radius: 0.23rem 0.23rem 0 0;
          text-align: center;
          p:nth-child(1) {
            padding-top: 1rem;
          }
          p:nth-child(2) {
            padding-top: 0.5rem;
          }
        }
        li:nth-child(2){
          width: 6.87rem;
          height: 2.9rem;
          line-height: 2.9rem;
          background: #3f9d9f;
          color: #fff;
          text-align: center;
          border-radius: 0 0.23rem 0 0.23rem;
          float: left;
        }
        li:nth-child(3){
          width: 6.63rem;
          height: 2.9rem;
          background: #f4f4f4;
          color: #3f9d9f;
          line-height: 2.9rem;
          text-align: center;
          border-radius: 0.23rem 0 0.23rem 0;
          float: left;
        }
      }
    }
  }
  #job_interview {
    width: 100%;
    height: 100%;
    display: none;
    .inter-data {
      background: #f3f3f3;
      text-align: center;
      height: 9.9rem;
      p:nth-child(1) {
        padding-top: 3.35rem;
        color: #3f9d9f;
        font-size:0.87rem;
      }
      p:nth-child(2) {
        color: #666666;
        font-size:0.7rem;
        margin-top: 1rem;
      }
      img {
        width: 1.4rem;
        height: 1.1rem;
        margin-right: 0.58rem;
      }
    }
    .inter-phone {
      text-align: center;
      font-size: 0.77rem;
      p {
        margin: 0;
      }
      p:nth-child(1) {
        padding-top: 2.03rem;
        padding-bottom: 0.25rem;
      }
      img {
        width: 3.3rem;
        height: auto;
        margin-top: 1.28rem;
      }
    }
  }
  //面试提示页面返回按钮
  .inter-return {
    width: 2.3rem;
    height: 2.3rem;
    position: relative;
    top: -2.3rem;
    left: -1rem;
  }
}
