$light-gray: #f4f4f4;
$font-gray: #a5a5a5;

.users-index {
  background: #fff;
  .top-box {
    box-sizing: border-box;
    padding-top: 2.4rem;
    height: 12.83rem;
    text-align: center;
    background-size: 100% 100%;
    color: #fff;
    #avatar_box {
      width: 3.75rem;
      height: 3.75rem;
      display: inline-block;
      border-radius: 50%;
      background-size: 3.75rem 3.75rem !important;
      border: 1px solid #fff;
    }
    p:nth-of-type(1) {
      margin-top: 1.3rem;
      font-size: 0.87rem;
      line-height: 0.87rem;
    }
    p:nth-of-type(2) {
      margin-top: 0.65rem;
      font-size: 0.7rem;
    }
  }

  .item {
    font-size: 0.9rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    // background-color: #fff;

    li {
      height: 3.03rem;
      line-height: 3.03rem;
      list-style: none;
      border-bottom: 1px solid #e3e3e3;
      font-size: 0.8rem;
      color: #000;
      a {
        display: block;
        width: 100%;
      }
    }
    .img-set {
      width: 0.93rem;
      // margin-left: 0.9rem;
      margin-right: 0.75rem;
    }
    .img-shop {
      margin-left: -0.03rem;
      margin-right: 0.67rem;
      width: 1.08rem;
    }
    .img-vip {
      margin-left: 0.6rem;
      width: 2.58rem;
    }
    .img-fair {
      margin-left: -0.08rem;
      margin-right: 0.48rem;
      width: 1.37rem;
    }
    .join-in {
      color: #adadad;
      font-size: 0.7rem;
      margin-left: 0.7rem;
    }
  }
}


.users-show {
  .wrap {
    background-color: #fff;
  }
  .vip-list {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.87rem;
    li {
      position: relative;
      height: 3.12rem;
      line-height: 3.12rem;
      list-style: none;
      border-bottom: 1px solid #e3e3e3;

      span {
        position: absolute;
        right: 0;
      }
      span1 {
        color: #3f9e9f;
      }
    }
  }
}

.users-edit {
  // padding-bottom: 4.27rem !important;

  .wrap {
    padding-left: 0.35rem;
    padding-right: 0.35rem;
    width: 100%;
    font-size: 0.86rem;
    background-color: $light-gray;
  }

  .form-group {
    margin-top: 0.5rem;
    overflow: hidden;
    background-color: #fff;
    border-radius: 0.36rem;
    margin-bottom: -2px;
    label {
      float: left;
      padding-left: 1rem;
      padding-right: 1.47rem;
      line-height: 2.58rem;
      font-weight: normal;
      color: $font-gray;
      white-space: pre;
      abbr {
        display: none;
      }
    }
    input {
      float: right;
      padding: 0;
      width: 13rem;
      height: 2.58rem;
      border: 0;
      font-size: 0.86rem;
      text-align: right;
      padding-right: 1.78rem;
      box-shadow: none;
      -webkit-box-shadow: none;
      -webkit-appearance: none;
    }
    textarea {
      border: 0;
      padding-left: 1rem;
      height: 100%;
      font-size: 0.86rem;
      // line-height: 1.95rem;
      box-shadow: none;
      overflow-y: visible;
    }
    textarea:focus, input:focus {
      outline: none;
      border-color: inherit;
      -webkit-box-shadow: none;
    }

    .form-control[readonly] {
      background-color: #fff;
    }

    label {
      margin-bottom: 0;
    }
  }

  .form-group::after {
    content: "";
    width: 0.41rem;
    height: 0.66rem;
    display: block;
    position: absolute;
    right: 1rem;
    margin-top: 0.9rem;
    background: url("../icon.png") no-repeat;
    background-size: 0.41rem 0.66rem;
  }

  .hospital_name:nth-of-type(1)::after{
    content: "";
    width: 0.93rem;
    height: 0.93rem;
    display: block;
    position: absolute;
    right: 0.7rem;
    margin-top: 0.8rem;
    z-index: 100;
    background: url("../icon_24.png") no-repeat;
    background-size: 0.9rem 0.9rem;
  }

  .hospital_location:nth-of-type(1)::after{
    content: "";
    width: 0.93rem;
    height: 0.93rem;
    display: block;
    position: absolute;
    right: 0.4rem!important;
    z-index: 100;
    margin-top: 0.8rem;
    background: url("../icon_24.png") no-repeat;
    background-size: 0.9rem 0.9rem;
  }

  .form-group:nth-of-type(6)::after{
    display: none;
  }

  .hospital_introduction {
    height: 10rem;
  }
  .submit-box {
    text-align: center;
    padding-bottom: 1.88rem;
  }

  #submit {
    // position: absolute;
    // left: 50%;
    // margin-left: -9.135rem;
    margin: 0 auto;
    margin-top: 1.083rem;
    // bottom: 1.88rem;
    width: 18.27rem;
    height: 2.38rem;
    border: 0;
    border-radius: 5px;
    font-size: 0.87rem;
    color: #fff;
    background-color: #3f9e9f;
  }

  .job-pubilc {
    position: relative;
    .empty-cont {
      display: inline-block;
      width: 1.3rem;
      height: 1.3rem;
      position: absolute;
      top: 0.65rem;
      right: 0.1rem;
    }
  }
}
