<% provide :title, "添加屏蔽" %>
<% provide :content, "保存" %>
<div class="block-shield">
  <from action="" method="post" data-remote="true" class="block-form">
    <input class="edit-text" type="text" name="text" placeholder="请输入机构名称"/>
  </form>
</div>
<script>
fullScreen('.block-shield');
</script>
