<div class="inviteCode">
  <div class="pro-switch">
    <div class="flexslider">
      <ul>
        <div class="slides">
              <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; transition: opacity 0.4s ease; z-index: 2;">
                <%= image_tag 'invitecode1.jpg' %>
              </li>
              <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; transition: opacity 0.4s ease; z-index: 2;">
                <%= image_tag 'inviteCode2.jpg' %>
              </li>
              <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; transition: opacity 0.4s ease; z-index: 2;">
                <%= image_tag 'inviteCode3.jpg' %>
              </li>
        </div>
      </ul>
    </div>
  </div>
  <!--<#% text_field :code,'请输入您的专属邀请码',class:'code' %>-->
  <input type="text" name="code" value="请输入您的专属邀请码" oninput="this.value=this.value.replace(/\D/g,'')" />
 <input type="hidden" id="code_to_login_up" value="<%= @url %>"/>
  <div class="submit"><img src="/assets/codeFoward.png" /></div>
</div>

<script>
   $('.submit').on('click',function(event){
     var code = $('input').val();
     $.get("/webapp/invitation_codes/"+code,function(data, status){
         console.log(JSON.stringify(data));
       if(data.success){
           var url = $("#code_to_login_up").attr("value");
           location.href = url
       }else{
           alert(data.errMsg)
       }
   });
   });

   /*轮播*/
   $('.flexslider').flexslider();

   $('.flexslider').flexslider({
       slideshow: true,
   });
   $('input').on('click',function(){
       $(this).css({'background':'rgb(48,48,48)','border':'none','box-shadow':'none'});
   });
</script>
<style>
    .flex-control-nav {
        position: absolute;
        text-align: center;
        z-index:10000;
        left:0;
        right:0;
        margin:auto;
        bottom:10.7em;
    }
</style>