<% content_for :sidebar do %>
  <li class="<%='active' if params[:action] == 'index'%>">
    <a href="/admin/hospitals"><%= image_tag 'admin_hospitals.png' %>机构管理</a>
  </li>
<% end %>

<h1>机构管理开发ing ^_^</h1>
