<% content_for :sidebar do %>
  <li class="<%='active' if params[:action] == 'index'%>">
    <a href="/admin/hospitals"><%= image_tag 'admin_hospitals.png' %>机构管理</a>
  </li>
<% end %>

<%= react_component "AdminHospital", {data: @hospitals, plan: @vip_levels} %>
