<%= provide :title, "医才双选会" %>

<div id="hospital-home">
  <%= image_tag "hs-1.jpg" %>
  <div class="home-bg"></div>
  <div class="home-note">
    <p>广州三甲医院 沟通专场</p>
  </div>
</div>
<div id="hospital-data">
  <div class="hospital-number">
    <p>本期入驻专家</p>
    <p><span>10</span>家</p>
  </div>
  <span></span>
  <div class="hospital-time">
    <p>距专场结束</p>
    <p>120:60:60</p>
  </div>
</div>
<div id="hospital-rule">
  <h2>专场细则</h2>
  <p>专场细则专场细则专场细则专场细则专场专场细则专场细则专场细则专场细则细则专场细则专场细则专场细则</p>
</div>
<p class="button">
  <%= link_to "进入专场", 'job_fairs/show' %>
</p>
