<% provide :title, "搜索详情" %>
<div class="search-details">
  <!-- 搜索条件 -->
  <div class="search-conditions">
    <div class="dropdown">
      <span>全广州</span>
      <span class="triangle"></span>
      <div class="dropdown-content">
        <p>全广州</p>
        <p>全广州</p>
      </div>
    </div>
    <div class="dropdown">
      <span>薪资范围</span>
      <span class="triangle"></span>
      <div class="dropdown-content">
        <p>全广州</p>
        <p>全广州</p>
      </div>
    </div>
    <div class="dropdown">
      <span>更多筛选</span>
      <span class="triangle"></span>
      <div class="dropdown-content">
        <p>全广州</p>
        <p>全广州</p>
      </div>
    </div>
  </div>
  <!-- 工作经验 -->
  <div class="work-experences">

    <div class="title">工作经验</div>
    <div class="work-experences-items">
      <button type="button" name="button" class="work-experences-item big">应届毕业生</button>
      <button type="button" name="button" class="work-experences-item">1-3年</button>
      <button type="button" name="button" class="work-experences-item">3-5年</button>
      <button type="button" name="button" class="work-experences-item">5-10年</button>
      <button type="button" name="button" class="work-experences-item big">10年以上</button>
      <button type="button" name="button" class="work-experences-item">经验不限</button>
    </div>
  </div>
  <div class="major-requirements">
    <div class="title">学历要求</div>
    <div class="major-requirements-items">
      <button type="button" name="button" class="major-requirements-item big">高中</button>
      <button type="button" name="button" class="major-requirements-item">大专</button>
      <button type="button" name="button" class="major-requirements-item">本科</button>
      <button type="button" name="button" class="major-requirements-item">硕士</button>
      <button type="button" name="button" class="major-requirements-item big">博士</button>
      <button type="button" name="button" class="major-requirements-item">不要求</button>
    </div>
  </div>
  <button type="button" name="button" class="submit">确定</button>
</div>
<script type="text/javascript">
  fullScreen('.search-details');
  $('.dropdown').click(function(event) {
    /* Act on the event */
  });
</script>
