<% provide :link, "users/show"  %>
<% provide :content, "我的" %>
<div class="search-box">
  <div class="box">
    <a href="" class="left">成都</a>
    <input type="text" class="right" placeholder="搜索职位/医院"/>
    <div style="clear:both"></div>
  </div>
</div>
<div class="pro-switch">
  <div class="flexslider">
    <ul>
      <div class="slides">
            <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; transition: opacity 0.4s ease; z-index: 2;">
              <%= image_tag "test.jpg" %>
            </li>
            <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; transition: opacity 0.4s ease; z-index: 2;">
              <%= image_tag "test.jpg" %>
            </li>
            <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; transition: opacity 0.4s ease; z-index: 2;">
              <%= image_tag "test.jpg" %>
            </li>
        <div style="clear:both"></div>
      </div>
    </ul>
  </div>
</div>
<div class="jobs">
  <div class="jobs-list">
    <div class="job">
      <div class="title">
        <div class="left">儿科护士</div>
        <div class="right">4000-5000/月</div>
        <div style="clear:both"></div>
      </div>
      <div class="detail">
        <div class="left">荔湾区人民医院</div>
        <div class="right">广州市白云区</div>
        <div style="clear:both"></div>
      </div>
    </div>
    <div class="job">
      <div class="title">
        <div class="left">儿科护士</div>
        <div class="right">4000-5000/月</div>
        <div style="clear:both"></div>
      </div>
      <div class="detail">
        <div class="left">荔湾区人民医院</div>
        <div class="right">广州市白云区</div>
        <div style="clear:both"></div>
      </div>
    </div>
    <div class="job">
      <div class="title">
        <div class="left">儿科护士</div>
        <div class="right">4000-5000/月</div>
        <div style="clear:both"></div>
      </div>
      <div class="detail">
        <div class="left">荔湾区人民医院</div>
        <div class="right">广州市白云区</div>
        <div style="clear:both"></div>
      </div>
    </div>
    <div class="job">
      <div class="title">
        <div class="left">儿科护士</div>
        <div class="right">4000-5000/月</div>
        <div style="clear:both"></div>
      </div>
      <div class="detail">
        <div class="left">荔湾区人民医院</div>
        <div class="right">广州市白云区</div>
        <div style="clear:both"></div>
      </div>
    </div>
    <div class="job">
      <div class="title">
        <div class="left">儿科护士</div>
        <div class="right">4000-5000/月</div>
        <div style="clear:both"></div>
      </div>
      <div class="detail">
        <div class="left">荔湾区人民医院</div>
        <div class="right">广州市白云区</div>
        <div style="clear:both"></div>
      </div>
    </div>
    <div class="job">
      <div class="title">
        <div class="left">儿科护士</div>
        <div class="right">4000-5000/月</div>
        <div style="clear:both"></div>
      </div>
      <div class="detail">
        <div class="left">荔湾区人民医院</div>
        <div class="right">广州市白云区</div>
        <div style="clear:both"></div>
      </div>
    </div>
  </div>
</div>
<script>

</script>
