<% provide :title, "搜索" %>
<div class="content search">
    <input type="text" name="name" value="医生" class="left">
    <%= image_tag "search.png", class: "search-img" %>
    <%= image_tag "close.png", class: "close-img" %>
    <button type="button" name="button" class="right">筛选</button>
</div>
<div class="jobs">
  <div class="jobs-list">
    <div class="job">
      <div class="title">
        <div class="left">儿科护士</div>
        <div class="right">4000-5000/月</div>
        <div style="clear:both"></div>
      </div>
      <div class="detail">
        <div class="left">荔湾区人民医院</div>
        <div class="right">广州市白云区</div>
        <div style="clear:both"></div>
      </div>
    </div>
    <div class="job">
      <div class="title">
        <div class="left">儿科护士</div>
        <div class="right">4000-5000/月</div>
        <div style="clear:both"></div>
      </div>
      <div class="detail">
        <div class="left">荔湾区人民医院</div>
        <div class="right">广州市白云区</div>
        <div style="clear:both"></div>
      </div>
    </div>
    <div class="job">
      <div class="title">
        <div class="left">儿科护士</div>
        <div class="right">4000-5000/月</div>
        <div style="clear:both"></div>
      </div>
      <div class="detail">
        <div class="left">荔湾区人民医院</div>
        <div class="right">广州市白云区</div>
        <div style="clear:both"></div>
      </div>
    </div>


</div>
