.fairs-index {
  .mask-user {
    position: fixed;
    top: 65px;
    padding-top: 0.5rem;
    width: 100%;
    height: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.67);
  }
  .user-box {
    position: relative;
    width: 40%;
    margin: 0 auto;
    padding: 0.5rem 0 1rem 0;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;

    form {
      width: 90%;
      margin: 0 auto;
      button {
        position: absolute;
        bottom: 0;
        width: 50%;
        border-radius: 0;
      }
      .btn-success {
        right: 0;
      }
      .btn-secondary {
        left: 0;
      }
    }
  }

  .preview-img {
    display: inline-block;
    padding: 120px 0 0 0;
    overflow: hidden;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
    height: 100px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 100% 120px;
  }
}
