.fairs-index {
  .fair-begin-text {
    padding: 0;
    line-height: 38px;
    text-align: right;
    font-size: 14px;
  }

  #form_fair_search  {
    .btn-search {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  .mask-user {
    position: fixed;
    top: 65px;
    padding-top: 0.5rem;
    width: 100%;
    height: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.67);
  }
  .user-box {
    position: relative;
    width: 40%;
    margin: 0 auto;
    padding: 0.5rem 0 1rem 0;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;

    form {
      width: 95%;
      margin: 0 auto;

      button {
        position: absolute;
        bottom: 0;
        width: 50%;
        border-radius: 0;
      }
      .btn-success {
        right: 0;
      }
      .btn-secondary {
        left: 0;
      }
    }
    .btn-secondary {
      background: #a1a1a1;
    }
  }

  .preview-img {
    display: inline-block;
    padding: 120px 0 0 0;
    overflow: hidden;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
    height: 100px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: auto 120px;
    background-position:center;
    background-color: #eee;
  }
}


.fairs-history {
  .fair-begin-text {
    padding: 0;
    line-height: 38px;
    text-align: right;
    font-size: 14px;
  }

  #form_fair_histroy {
    .btn-search {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  .mask-user {
    position: fixed;
    top: 65px;
    padding-top: 0.5rem;
    width: 100%;
    height: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.67);
  }
  .user-box {
    position: relative;
    width: 40%;
    margin: 0 auto;
    padding: 30px 0 1rem 0;
    border-radius: 5px;
    background-color: #fff;
    // overflow: hidden;

    table {
      width: 100%;
      margin: 0 auto;
      tr {
        height: 30px;
        line-height: 30px;
      }
      td {
        text-align: left!important;
      }
      td:nth-child(2) {
        margin-right: 20px;
      }
    }
   .fair-img {
     text-align: center;
     img {
       height: 200px;
       width: auto;
     }
   }
   .img-close {
      width: 30px;
      height: auto;
      position: absolute;
      top: -15px;
      right: -15px;
      z-index: 1000;
      cursor: pointer;
   }
  }

  .preview-img {
    display: inline-block;
    padding: 120px 0 0 0;
    overflow: hidden;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
    height: 100px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: auto 120px;
    background-position:center;
    background-color: #eee;
  }
}
