// Place all the styles related to the admin/fair_hospitals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fair_hospitals-index {
  .admin_main {
    padding-top: 20px !important;
  }

  .mask-user {
  position: fixed;
  top: 65px;
  padding-top: 0.5rem;
  width: 100%;
  height: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.67);
}

.user-box {
  position: relative;
  width: 60%;
  margin: 0 auto;
  padding: 0.5rem 0 0 0;
  border-radius: 5px;
  background-color: #fff;

  form {
    position: relative;
    margin: 0 auto;

    .btn-bottom {
      margin-top: 25px;
      width: 50%;
      border-radius: 0;

      .btn-success {
        float: right;
      }
      .btn-secondary {
        float: left;
      }
    }

  }
  .btn-secondary {
    background: #a1a1a1;
  }
}

.search-box {
  padding-bottom: 1rem;
}

.gold-info {
  height: 35px
}

.preview-img {
  display: inline-block;
  padding: 120px 0 0 0;
  overflow: hidden;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
  height: 100px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: auto 120px;
  background-position:center;
  background-color: #eee;
}


}

//show
.fairs-history {
  ul.fair-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      width: 50%;
      float: left;
      label {
        width: 80px;
      }
      span {
        margin-left: 20px;
      }
    }
    .fair-intro {
      width: 100%;
      p {
        text-indent: 2em;
      }
    }
  }
  .fair-image {
    clear: both;
  }
}
