// Place all the styles related to the admin/hospitals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hospitals-index {
  .mask-user {
    position: fixed;
    top: 65px;
    padding-top: 30px;
    width: 100%;
    height: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.67);
  }
  .user-box {
    position: relative;
    width: 60%;
    margin: 0 auto;
    padding: 0.5rem 0 0 0;
    border-radius: 5px;
    background-color: #fff;

    form {
      position: relative;
      margin: 0 auto;

      .btn-bottom {
        margin-top: 25px;
        width: 50%;
        border-radius: 0;

        .btn-success {
          float: right;
        }
        .btn-secondary {
          float: left;
        }
      }
      .row {
        margin-left: 0;
        margin-right: 0;
      }
      .btn-map {
        display: block;
        border: 1px solid #428bca;
        width: 100%;
        background: #428bca;
        a {
          color: #fff;
          text-decoration: none;
        }
        a:hover {
          color: #fff;
        }
      }
    }
  }
  .form-margin-right {
    padding-right: 5px;
  }
  .form-margin-left {
    padding-left: 5px;
  }
  .form-magrin-top {
    margin-top: 25px;
  }
}
