// Place all the styles related to the admin/resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.resumes-index {
  .handle-button {
    .btn-danger {
      margin-right: 20px;
    }
  }
  #wrap {
    .admin_main {
      .mask-user {
        position: fixed;
        top: 65px;
        padding-top: 1rem;
        width: 100%;
        height: 100%;
        left: 0;
        background: rgba(0, 0, 0, 0.67);
      }
    }
  }
  .user-box {
    position: relative;
    width: 40%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #fff;
  }
  .user-info {
    position: relative;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 600px;
    padding: 0.5rem 0 1rem 0;
  }
  img.img-close {
    width: 30px;
    height: auto;
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 1000;
    cursor: pointer;
  }
  .resume-content {
    width: 90%;
    margin: 0 auto;
    ul {
      list-style: none;
      width: 100%;
      height: 25px;
      line-height: 25px;
      margin: 0;
      padding: 0;
      li {
        float: left;
        width: 33.33%;
        height: 25px;
        text-align: center;
      }
    }

    .show-img {
      width: 100%;
      height: 80px;
      border-radius: 10px;
      margin-top: 10px;
      position: relative;
      border: 1px solid #a1a1a1;
      // .avatar {
      //   width: 56px;
      //   height: 56px;
      //   float: left;
      //   margin-top: 13px;
      //   margin-left: 20px;
        img.img-show {
          width: auto;
          height: 56px;
          margin-left: 12px;
        }
      // }
      span {
        display: inline-block;
        height: 80px;
        line-height: 80px;
        margin-left: 10px;
      }
    }

    .resumes-preview-public {
      h1 {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 10px;
      }
      .resumes-preview-bg {
        width: 92.11%;
        border: 1px solid #a1a1a1;
        border-radius: 10px;
        margin: 0 auto 0 auto;
        padding-left: 14px;
        padding-top: 10px;
        min-height: 60px;
        .resumes-base {
          font-size: 14px;
          margin-bottom: 4px;
        }
        tr {
          display: block;
          span {
            margin-right: 28px;
          }
        }
        tr+tr {
          display: block;
          margin-top: 6px;
        }
        td+td {
          padding-left: 15px;
        }
      }
    }
    .resume-show {
      h1 {
        display: block;
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 10px;
      }
      .box {
        border-left: 1px solid #3f9e9f;
        padding-left: 10px;
        position: relative;
        .green-point {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: #3f9e9f;
          position: absolute;
          // top: -8px;
          left: -5px;
        }
        time {
          font-size: 14px;
        }
        h3 {
          font-size: 15px;
          margin-top: 8px;
          margin-bottom: 5px;
        }
        p {
          font-size: 14px;
          color: #696969;
          line-height: 18px;
          padding-bottom: 7px;
        }
      }
      .box+.box {
        margin-top: -9.5px;
      }
      .expect-employer {
        border-left: none;
        .expect-preview {
          padding-bottom: 0;
        }
      }
      .employer-style {
        padding-top: 0;
        padding-left: 0;
        min-height: 60px;
        .cer-employer {
          border-left: none;
          p {
            padding-bottom: 0;
            margin-bottom: 0;
            height: 30px;
            line-height: 30px;
          }
        }
      }
      #preview-expect {
        width: 92.11%;
        border: 1px solid #a1a1a1;
        border-radius: 10px;
        margin: 10px auto 0 auto;
        min-height: 60px;
      }
    }
    .employer-job {
      padding-bottom: 18px;
    }
  }
  .IIInsomnia-city-picker {
    width: 550px!important;
  }
}
