// Place all the styles related to the admin/vips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vips-index {
  .vip-status {
    padding-left: 15px;
  }

  .mask-user {
    position: fixed;
    top: 65px;
    padding-top: 1rem;
    width: 100%;
    height: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.67);
  }
  .user-box {
    position: relative;
    width: 40%;
    margin: 0 auto;
    padding: 0.5rem 0 1rem 0;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;

    form {
      width: 90%;
      margin: 0 auto;
      button {
        position: absolute;
        bottom: 0;
        width: 50%;
        border-radius: 0;
      }
      .btn-success {
        right: 0;
      }
      .btn-secondary {
        left: 0;
      }
    }
  }
}
