<li class="<%='active' if params[:action] == 'index'%>">
  <a href="/admin/vips"><%= image_tag 'admin_vips_index.png' %>套餐管理</a>
</li>
<li class="<%='active' if params[:action] == 'level'%>">
  <a href="/admin/vips/level"><%= image_tag 'admin_vips_level.png' %>VIP管理</a>
</li>
