<div class="404">
  <h1>404</h1>
  <h2>对不起，此页面被猫吃了！</h2>
</div>

<style>
  #wrap {
    text-align: center;
    padding-top: 20%;
  }

  h1 {
    font-size: 3.8rem;
    color: gray;
  }

  h2 {
    font-size: 1.2rem;
    color: #bbb;
    padding-left: 1em;
  }
</style>
