
<div class="job-head">
  <div>
    <a class="job-page" onclick="job_page()" id="job_page">职位详情</a>
    <a class="hospital-page" onclick="hospital_page()" id="hospital_page">医院详情</a>
  </div>
</div>

<!-- #job-detail职位详情 -->
<%= render 'job_detail' %>

<!-- #hospital_detail 医院详情 -->
<%= render '/webapp/hospitals/hospital_detail' %>




  <script>
  // 顶部导航
  $(".job-head>div>span").click(function(){
    var index = $(this).index();
    $(".job-head>div>span").eq(index).addClass("job-page").removeClass("hospital-page").siblings().removeClass("job-page").addClass("hospital-page");
  });

  // 切换 job & hospital 见 yunkang.js
  $(job_page());

  fullScreen('#job-detail');

</script>
