<% provide :link, "/users/index"  %>
<% provide :title, "首页" %>
<style>
.btn {
    width: 100%;
    height: 50px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
</style>
<div class="container resume-show">
    <div class="wrap">
        <%= link_to "云康医聘", webapp_home_path, class: "btn btn-default" %>
        <%= link_to "双选会", webapp_job_fairs_path, class: "btn btn-info" %>
        <%= link_to("退出登陆",destroy_user_session_path, :method => :delete, class: "btn btn-danger" ) %>
        <%= react_component 'Seeker' %>
    </div>
</div>
