<% provide :title, "我的简历" %>
<div id="resumes-preview">
  <% if @user %>
  <section class="resumes-preview-img">
    <div class="resumes-preview-md">

        <div class="image-head">
          <div class="avatar-box" style="background:url('<%= asset_path(@avatar) %>') no-repeat;background-size: cover;" id="avatar_box">
              <!-- 已修改样式 bobo -->
          </div>
        </div>
      <p><%= @user.show_name %></p>

    </div>
  </section>
  <% end %>
  <%= render "preview_content" %>

</div>
