<% provide :title, "我的简历" %>
<div id="resumes-preview">
  <section class="resumes-preview-img">
    <div class="resumes-preview-md">

        <div class="image-head">
          <%= image_tag "avator.png" %>
        </div>
      <p>严锐</p>

    </div>
  </section>

  <section class="resumes-preview-public">
    <h1>基本信息</h1>
    <div class="resumes-preview-bg  resumes-preview-base">
      <table class="resumes-base">
        <tr>
          <td><span>姓</span>名：</td>
          <td>严锐</td>
        </tr>
        <tr>
          <td><span>性</span>别：</td>
          <td>男</td>
        </tr>
        <tr>
          <td>最高学力：</td>
          <td>本科</td>
        </tr>
        <tr>
          <td>工作年限：</td>
          <td>0</td>
        </tr>
        <tr>
          <td>出生年限：</td>
          <td>1995.1</td>
        </tr>
        <tr>
          <td>所在城市：</td>
          <td>武汉</td>
        </tr>
        <tr>
          <td>联系电话：</td>
          <td>15972052997</td>
        </tr>
        <tr>
          <td>联系邮箱：</td>
          <td>freeman127@qq.com</td>
        </tr>
        <tr>
          <td>当前状态：</td>
          <td>应届毕业生，正在寻找工作</td>
        </tr>
      </table>
    </div>
  </section>

  <section class="resume-show resumes-preview-public">
    <h1>工作经历</h1>
    <div class="wrap resumes-preview-bg">
      <div class="box" style="padding-bottom:0;">
        <time>2015.01-2016.01</time>
        <div class="time-line-box work-time">
          <h3>武汉市解放军——六一医院/儿科护士
          </h3>
          <p>
            工作内容：夕阳最美时，也总是将近黄昏。 世上有很多事都是这样子的，尤其是一些特别辉煌美好的事。 所以你不必伤感，也不用惋惜，纵然到江湖去赶上了春，也不必留住它。 因为这就是人生，有些事你留也留不住。 你一定要先学会忍受它的无情，才会懂得享受它的温柔。
          </p>
        </div>
      </div>

      <div class="box" style="padding-bottom:0;">
        <time>2015.01-2016.01</time>
        <div class="time-line-box work-time">
          <h3>武汉市解放军——六一医院/儿科护士
          </h3>
          <p>
            工作内容：夕阳最美时，也总是将近黄昏。 世上有很多事都是这样子的，尤其是一些特别辉煌美好的事。 所以你不必伤感，也不用惋惜，纵然到江湖去赶上了春，也不必留住它。 因为这就是人生，有些事你留也留不住。 你一定要先学会忍受它的无情，才会懂得享受它的温柔。
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="resume-show resumes-preview-public">
    <h1>教育经历</h1>
    <div class="wrap resumes-preview-bg">
      <div class="box" style="padding-bottom:0;">
        <time>2016年毕业</time>
        <div class="time-line-box work-time">
          <h3>武汉大学同济医学院
          </h3>
          <p id="test">
            工作内容：夕阳最美时，也总是将近黄昏。 世上有很多事都是这样子的，尤其是一些特别辉煌美好的事。 所以你不必伤感，也不用惋惜，纵然到江湖去赶上了春，也不必留住它。 因为这就是人生，有些事你留也留不住。 你一定要先学会忍受它的无情，才会懂得享受它的温柔。
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="resume-show resumes-preview-public">
    <h1>期望工作</h1>
    <div id="preview-expect" class="wrap">
      <div class="box work-time">
        <h3>护士</h3>
        <p>
          全职/武汉/4k-6k
        </p>
      </div>
    </div>
  </section>

</div>