@import "yunkang";
@import "slider";
@import "mobiscroll.custom-3.0.0-beta4.min";
@import "jedate";

// 验证表单
.has-error {
  border: 1px solid #b94a48 !important;
}
.has-success {
  border: none !important;
}

// home 无搜索结果
#jobs_home_list {
  .no-resurt {
    padding-top: 1.5rem;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    color: #c3c3c3;
    font-size: 0.88rem;
  }
}

.mbsc-cal-day-fg div {
  display: none;
}
.box-minheight {
  .expect-location {
    position: relative;
    margin: 0.4rem 0;
  }
}

.expect-employer {
  .expect-location {
    position: relative;
    margin: 0.4rem 0;
  }
}
.float-style {
  .may-fill {
    position: relative;
    width: 19.05rem !important;
    margin: 0 auto;
    text-indent: 4px;
    input {
      position: absolute;
      top: 0.35rem;
      left: 3.7rem;
      height: 1.83rem;
      width: 50%;
    }
    span {
      display: block;
      position: absolute;
      top: 0.45rem;
      left: 72%;
      border: none;
      border-radius: 0.2rem;
      box-shadow: none;
      text-align: center;
      text-indent: 0;
      height: 1.63rem;
      line-height: 1.63rem;
      width: 3rem;
      color: #fff;
      background: #428bca;
    }
  }
}

#train_certificate {
  height: 2rem !important;
}

// resume show
#preview-expect {
  min-height: 2.5rem;
  .expect-employer {
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
  }
}
// resume show

// 搜索页面样式
.search-content {
  .filter-form {
    #submit_form {
      position: relative;
    }
    .job-name {
      margin: 0.2rem 0 0.2rem 0.45rem;
      width: 17.3rem;
      background-color: #E4E4E4;
      background-image: url(image_path('icon_38.png'));
      background-repeat: no-repeat;
      background-position: 95% 50%;
      background-size: 1rem 1rem;
    }
    .refress {
      position: absolute;
      top: 0.4rem;
      right: 0.5rem;
      font-size: 0.9rem;
      color: #7C7C7C;
      cursor: pointer;
    }
    .job-condition {
      width: 100%;
      height: 2.2rem;
      li {
        border-top: 1px solid #e3e3e3;
        border-bottom: 1px solid #e3e3e3;
        float: left;
        text-align: center;
        line-height: 2.2rem;
        height: 2.2rem;
        width: 33.33%;
        font-size: 0.8rem;
        color: #232323;
        img {
          margin-left: 0.5rem;
          width: 0.55rem;
          height: auto;
        }
      }
      li + li {
        border-left: 1px solid #e3e3e3;
      }
    }
    .filter-main {
      display: none;
      position: absolute;
      top: 4.5rem;
      left: 0;
      padding: 0 0.9rem 0.7rem 0.9rem;
      background: #fff;
    }
    .job-experience {
      padding-top: 2rem;
      p {
        font-size: 0.8rem;
        color: #767676;
      }
      li {
        float: left;
        margin-top: 0.5rem;
        margin-right: 0.35rem;
        border: 1px solid #7F7F7F;
        height: 1.8rem;
        width: 23.1%;
        text-align: center;
        line-height: 1.8rem;
        font-size: 0.8rem;
        color: #767676;
        cursor: pointer;
      }
    }
    .job-degree {
      padding-top: 2rem;
      clear: both;
      p {
        font-size: 0.8rem;
        color: #767676;
      }
      li {
        float: left;
        margin-top: 0.5rem;
        margin-right: 0.35rem;
        border: 1px solid #7F7F7F;
        height: 1.8rem;
        width: 23.1%;
        text-align: center;
        line-height: 1.8rem;
        font-size: 0.8rem;
        color: #767676;
        cursor: pointer;
      }
    }
    .job-recruit {
      padding-top: 2rem;
      clear: both;
      p {
        font-size: 0.8rem;
        color: #767676;
      }
      li {
        float: left;
        margin-top: 0.5rem;
        margin-right: 0.35rem;
        border: 1px solid #7F7F7F;
        height: 1.8rem;
        width: 23.1%;
        text-align: center;
        line-height: 1.8rem;
        font-size: 0.8rem;
        color: #767676;
        cursor: pointer;
      }
    }
    li.on {
      border: 1px solid #3f9d9f;
      color: #3f9d9f;
    }
    #submit_btn {
      clear: both;
      margin: 5rem auto 0 auto;
      border: 1px solid #3f9d9f;
      box-shadow: none;
      border-radius: 0.3rem;
      text-align: center;
      width: 95%;
      height: 2.35rem;
      line-height: 2.35rem;
      font-size: 0.8rem;
      color: #fff;
      background: #3f9d9f;
      cursor: pointer;
    }
    #submit_btn:hover {
      opacity: 0.9;
    }
    .salary_range {
      display: none;
      position: fixed;
      top: 4.5rem;
      left: 0;
      width: 100%;
      background: #fff;
      li {
        margin: 0 auto;
        border-bottom: 1px solid #e3e3e3;
        width: 91%;
        height: 1.8rem;
        line-height: 1.8rem;
        font-size: 0.8rem;
        color: #767676;
      }
      li.focus {
        border-bottom: 1px solid #3f9d9f;
        color: #3f9d9f;
      }
    }
  }
  .job-detail {
    .result {
      text-align: center;
      height: 4rem;
      line-height: 4rem;
      color: #7C7C7C;
      font-size: 0.9rem;
    }
    a {
      display: block;
      margin: 0 auto;
      border-bottom: 1px solid #e3e3e3;
      width: 91%;
    }

    .job {
      // border-bottom: 1px solid #e3e3e3;
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
      margin-top: 0rem;
      .left {
        float: left;
        font-size: 0.7rem;
        margin-top: 0.263rem;
      }
      .right {
        float: right;
        margin-top: 0.18rem;
        font-size: 0.7rem;
      }
      .right-range {
        margin-top: 0.2rem;
        font-size: 0.7rem;
      }
      .title {
        .left {
          font-size: 0.9rem;
        }
        .right {
          color: rgb(255,162,0);
          margin-top: 0.38rem;
          font-size: 0.8rem;
        }
      }
      .detail {
        color: rgb(195,195,195);
        line-height: 0.8rem;
        height: 1.1rem;
      }
    }
  }
}

// 选项脚本样式
#pop_mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 1000;
  .pop-mask {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 18rem;
    overflow: hidden;
    background: #fff;
    .pop-box_1 {
      margin: 0 1rem;
      width: 100%;
      height: 18rem;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    .pop-box_2 {
      position: relative;
      padding-bottom: 1rem;
      top: 2.5rem;
      left: -2rem;
      width: 100%;
    }
    p {
      position: relative;
      margin: 0 auto;
      border-bottom: 1px solid #e3e3e3;
      width: 100%;
      height: 2.5rem;
      line-height: 2.5rem;
      text-align: center;
      text-indent: 1rem;
      font-size: 0.8rem;
      cursor: pointer;
    }
    p.p-on {
      background: #4eccc4;
      color: #fff;
    }
    .pop-button {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2.5rem;
      font-size: 0.8rem;
      background: #3d9f9e;
    }
    span.input-title {
      position: absolute;
      top: 0;
      left: 50%;
      display: block;
      margin-left: -5.5rem;
      width: 10rem;
      height: 2.5rem;
      text-align: center;
      line-height: 2.5rem;
      color: #fff;
    }
    .remove-btn {
      float: left;
      border: 1px solid #3f9d9e;
      box-shadow: none;
      width: 3rem;
      height: 2.5rem;
      color: #fff;
      background: #3f9d9e;
    }
    .success-btn {
      float: right;
      border: 1px solid #3f9d9e;
      box-shadow: none;
      width: 3rem;
      height: 2.5rem;
      color: #fff;
      background: #3f9d9e;
      pointer-events: none;
      color: #b94a48;
    }
    .option-other {
      position: relative;
      left: -1rem;
    }
    .importability {
      position: absolute;
      top: 50%;
      margin-top: -0.6rem;
      padding: 0.6rem 0;
      width: 8rem;
      height: 1.2rem;
      line-height: 1.2rem;
      border: none;
      box-shadow: none;
      text-indent: 0.4rem;
      background: #fff;
    }
    input[type="text"]:focus {
      outline: 0;
      border: none !important;
    }
  }
}

// 培训经历
.train-edit {
  padding-bottom: 3.2rem;
  .form-group:nth-of-type(5) {
    // height: 11rem !important;
  }
}

// 时间插件样式
.out-jedate {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6)
}
#jedatebox {
  position: fixed;
  bottom: 0 !important;
  left: 0 !important;
  display: block;
  z-index: 999;
}
