@import "yunkang";
// @import "flickerplate";
@import "slider";

// 验证表单
.has-error {
  border: 1px solid #b94a48 !important;
}
.has-success {
  border: none !important;
}

// home 无搜索结果
#jobs_home_list {
  .no-resurt {
    padding-top: 1.5rem;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    color: #c3c3c3;
    font-size: 0.88rem;
  }
}
