@import "yunkang";
@import "slider";
@import "mobiscroll.custom-3.0.0-beta4.min";

// 验证表单
.has-error {
  border: 1px solid #b94a48 !important;
}
.has-success {
  border: none !important;
}

// home 无搜索结果
#jobs_home_list {
  .no-resurt {
    padding-top: 1.5rem;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    color: #c3c3c3;
    font-size: 0.88rem;
  }
}

.mbsc-cal-day-fg div {
  display: none;
}
.box-minheight {
  .expect-location {
    position: relative;
    margin: 0.4rem 0;
  }
}

.expect-employer {
  .expect-location {
    position: relative;
    margin: 0.4rem 0;
  }
}
.float-style {
  .may-fill {
    position: relative;
    width: 19.05rem !important;
    margin: 0 auto;
    text-indent: 4px;
    input {
      position: absolute;
      top: 0.35rem;
      left: 3.7rem;
      height: 1.83rem;
      width: 50%;
    }
    span {
      display: block;
      position: absolute;
      top: 0.45rem;
      left: 72%;
      border: none;
      border-radius: 0.2rem;
      box-shadow: none;
      text-align: center;
      text-indent: 0;
      height: 1.63rem;
      line-height: 1.63rem;
      width: 3rem;
      color: #fff;
      background: #428bca;
    }
  }
}
