//
* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 10px;
}

/* 我的页面 开始-汤伟*/
.user-info {
  margin: 0 auto;
  height: 25.23rem;
  background-color: rgb(15, 149, 145);
  .user-info-list {
    margin: 0 auto;
    width: 15rem;
    text-align: center;
  }
}
/* 我的页面 开始-汤伟*/
