
@import "cityPicker.css";
@import "common.css";
@import "mixin.scss";

/* 变量区 开始 */
$light-gray: #f4f4f4;
$font-gray: #a5a5a5;
$beauty-blue: #3a9da0;
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
      -ms-box-shadow: $shadow;
          box-shadow: $shadow;
}
@mixin link-colors($normal: #333, $hover: $normal, $visited: $normal) {
    color: $normal;
    &:hover,&:visited,&:link {
        color: $hover;
        text-decoration: none;
    }
}
@mixin border($color) {
  border-bottom:1px solid $color;
}
@mixin button() {
    display: inline-block;
    margin-left: 0.1rem;
    border-radius: 0.1rem;
    box-shadow: none;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width:4.32rem;
    height: 1.73rem;
    background-color: #fff;
    color: #a1a1a1;
    &:last-child {
      margin-top: 0.37rem;
    }
    &:nth-of-child(5) {
      margin-top: 0.37rem;
    }
}

/* 变量区 结束 */

/*通用样式开始*/
* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", "微软雅黑","SanFrancisco", "苹方字体"!important;
}
html,
body,
#wrap {
  height: 100%;
  background: #f3f3f3;
  .alert {
  position: fixed;
  top: 68px;
  left: 0;
  width: 98%;
  margin-left: 1%;
  z-index: 99;
  }

//.container{background: #FFFFFF;}
  // 右上角的按钮
  .btn-right {
    margin-top: 20px;
    width: 100%;
    height: 46px;
    background-color: $beauty-blue;
    border: 1px solid $beauty-blue;
  }
  a:hover {
    text-decoration: none;
  }

}
header {
    padding-top: 0.01rem;
    background: rgb(59,157,160);
    // height: 2.32rem;
    height: 0;
    color: white;
    text-align: center;
    a {
      float: left;
      margin-top: 0.6rem;
    }
    a img {
          height: 0.79rem;
      }
      .left-img {
        display: block;
        width:2rem;
        height: 2rem;
        margin-top: 0.35rem;
        -webkit-margin: 0;
        -webkit-padding: 0;
        position: absolute;
        top: 0;
        left: 0.2rem;
        padding: 0.2rem 0 0 0;
      }
    .top {
          margin: 0 auto;
          width: 18.71rem;
      }
    .title {
      display: inline-block;
      font-size: 0.87rem;
      line-height: 2.32rem;
      margin: 0 auto;
    }
    .right {
       color: white;
       font-size: 0.77rem;
       position: absolute;
       top: 0.1rem;
       right: 1.1rem;
       color: white;
  }
  .right:hover {
    color: #fff;
    text-decoration: none;
  }
}
/*通用样式结束*/

/*搜索首页开始*/
a:hover {
  text-decoration: none;
}
.search-box {
  background: rgb(244,244,244);
  .box {
    margin: auto;
    padding: 0.25rem 0;
    width: 19.83rem;
    .left {
      width: 4.58rem;
      height: 1.62rem;
      float: left;
      border: 1px solid #e3e3e3;
      background: white;
      border-radius: 0.2rem;
      text-align: center;
    }
    .right {
      float: right;
      margin-left: 0.4rem;
      background: white;
      height: 1.62rem;
      width: 14.72rem;
      border-radius: 0.2rem;
      border: 1px solid #e3e3e3;
      color: rgb(193,193,193);
      padding-left: 1.92rem;
    }
  }
}
.jobs {
  .jobs-list {
    width: 19.08rem;
    margin: -0.7rem auto 0 auto;
    font-size: 0.63rem;
    a {
      display: block;
    }

    .job {
      border-bottom: 1px solid #e3e3e3;
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
      margin-top: 0rem;
      .left {
        float: left;
        font-size: 0.88rem;
        margin-top: 0.263rem;
      }
      .right {
        float: right;
        font-size: 0.85rem;
        margin-top: 0.18rem;
      }
      .right-range {
        margin-top: 0.2rem;
        font-size: 0.7rem;
      }
      .title {
        .left {
          font-size: 0.9rem;
        }
        .right {
          color: rgb(255,162,0);
          margin-top: 0.38rem;
        }
      }
      .detail {
        color: rgb(195,195,195);
        line-height: 0.8rem;
        height: 1.1rem;
      }
    }
  }
  .hosp-show {
    margin-top: -0.9rem;
  }
}
.flex-control-nav {
  position: absolute;
  text-align: center;
  z-index:10000;
  left:0;
  right:0;
  margin:auto;
  bottom:10.7em;
}
.pro-switch {
  height: 5.95rem;
  width: 100%;
  overflow: hidden;
  img {
    height: 5.95rem;
  }
}
#show-me {
  width: 3.08rem;
  height: 3.08rem;
  position: fixed;
  bottom: 2.5rem;
  right: 1rem;
  overflow: hidden;
  .img-size {
    width: 3.08rem;
    height: 3.08rem;
  }
  .img-red {
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    width: 0.6rem;
    height: 0.6rem;
    background: #fe0100;
    border-radius: 50%;
    font-size: 0.42rem;
    text-align: center;
    line-height: 0.7rem;
    color: #fff;
  }
}
/*搜索首页结束*/
@media only screen and  ( min-width: 374px ) {
    html  {
        font-size: 18px  ! important ;
    }
}
@media only screen and ( min-width: 401px ) {
    html {
        font-size: 20px !important;
    }
}
@media only screen and ( min-width : 428px ) {
    html {
        font-size: 26.75px !important;
    }
}
@media only screen and (min-width: 481px ) {
    html {
        font-size: 30px !important;
    }
}
@media only screen and (min-width : 569px ) {
    html {
        font-size: 35px !important;
    }
}
@media only screen and ( min-width : 641px ) {
    html {
        font-size: 40px !important;
    }
}

/* 我的简历 开始 bobo */
.resume-show {
  background-color: $light-gray;
    .wrap {
        width: 18.9rem;
        margin: 0 auto;

        h2 {
            font-size: 0.72rem;
            span {
              display: inline-block;
              margin-left: 0.43rem;
              img {
                 width: 2.37rem;
                 height: 0.87rem;
                 margin-top: -0.2rem;
              }
            }
        }
        h3 {
          font-size: 0.8rem;
          position: relative;
          a {
            color: #686868;
            font-size: 0.6rem;
          }
        }
        .box {
            padding: 0 0.75rem 0 0.75rem;
            // height: 6.3rem;
            border-radius: 0.36rem;
            background-color: #fff;
            font-size: 0.77rem;
            overflow: hidden;
            position: relative;
            table {
              tr {
                line-height: 1.6rem;
                td:nth-of-type(1) {
                  margin-left: 0.77rem;
                  span {
                    display: inline-block;
                    margin-right: 1.5rem;
                  }
                }
              }
            }
            .edit {
              position: absolute;
              top: 0.5rem;
              right: 0.7rem;
              z-index: 100;
              img {
                width: 3.3rem;
                height: 1.1rem;
              }
            }
            .educate-edit {
              top: -0.25rem;
              right: -0.1rem;
            }

            .expend-show {
              position: absolute;
              top: 0;
              right: 0;
              img {
                width: 2.18rem;
                height: 0.6rem;
              }
            }
            .expend-education {
              position: absolute;
              top: 0.2rem;
              right: 0;
              img {
                width: 2rem;
                height: 0.55rem;
                margin-top: 0.1rem;
              }
            }
            time {
              padding-left: 0.77rem;
              margin-bottom: 0;
              display:block;
            }
            // time::before {
            //   content: "";
            //   display: block;
            //   position: absolute;
            //   margin-left: -1.05rem;
            //   margin-top: 0.25rem;
            //   width: 0.6rem;
            //   height: 0.6rem;
            //   border-radius: 0.3rem;
            //   background-color: $beauty-blue;
            //
            // }
            .time-line-box {
              margin-top: -0.4rem;
              padding-top: 0.5rem;
              // border-left: 1px solid $beauty-blue;
              padding-left: 0.77rem;
              padding-bottom: 0.3rem;
              h3 {
                margin: 0.3rem 0 0.5rem 0;
              }
            }
        }
        .work-try {
          padding-top: 0.8rem;
          padding-bottom: 0.2rem;
          .blue-left {
            border-left: 1px solid $beauty-blue;
            position: relative;
            .blue-point {
              position: absolute;
              top: 0;
              left: -0.25rem;
              width: 0.5rem;
              height: 0.5rem;
              border-radius: 50%;
              background-color: $beauty-blue;
              z-index: 10;
            }
            .time-line-box {
              padding-bottom: 0.1rem;
            }
          }
        }
        #box_table {
          padding-top: 0.55rem;
          padding-bottom: 0.4rem;
        }

        .box-avatar {
          padding-top: 1.55rem;
          padding-bottom: 1.55rem;
          #edit_user_1 {
            display: none;
          }
          .avatar {
            width: 3.75rem;
            height: 5.6rem;
            margin: 0 auto;
            text-align: center;
            .pencil {
              float: right;
              width: 1.2rem;
            }
            .avatar-img {
              height: 3.95rem;
              margin-bottom: 0.3rem;
            }
            .avatar-box {
              margin-bottom: 0.3rem;
            }
          }
        }
        .refresh {
          display: block;
          width: 15.15rem;
          margin: 1.6rem auto 0.7rem auto;
          border: 0;
          border-radius: 0.36rem;
          height: 2.4rem;
          color: #fff;
          background-color: $beauty-blue;
        }
        .preview {
          display: block;
          width: 15.15rem;
          margin: 0 auto 1.6rem auto;
          border: 1px solid #3f9e9d;
          border-radius: 0.36rem;
          height: 2.4rem;
          background-color: #fff;
          a {
            color: #3f9e9d;
            display: block;
            width: 100%;
            height: 100%;
            line-height: 2.4rem;
          }
        }
    }

}

#avatar_box {
  height: 3.81rem;
  border-radius: 50%;
}
#avatar_preview {
  height: 3.75rem;
  border-radius: 50%;
}
.box-avatar {
  .edit_user {
    display: none;
  }
}
/* 我的简历 结束 bobo */

/* 基本信息编辑 开始 bobo */
.edit_basic {
  position: absolute;
  padding-left: 0.35rem;
  padding-right: 0.35rem;
  width: 100%;
  font-size: 0.86rem;
  background-color: $light-gray;

  .form-group {
    min-height: 2.58rem;
    margin-top: 0.5rem;
    overflow: hidden;
    background-color: #fff;
    border-radius: 0.36rem;
    margin-bottom: -2px;
    label {
      margin-top: 0.2rem;
      float: left;
      padding-left: 1rem;
      padding-right: 1.47rem;
      line-height: 2.58rem;
      font-weight: normal;
      color: $font-gray;
      white-space: pre;
      abbr {
        display: none;
      }
    }
    input {
      margin-top: 0.2rem;
      float: right;
      padding: 0;
      width: 13rem;
      height: 2.58rem;
      border: 0;
      font-size: 0.86rem;
      text-align: right;
      padding-right: 1.78rem;
      box-shadow: none;
      -webkit-shadow: none;
    }
    textarea {
      box-shadow: none;
      -webkit-shadow: none;
    }
    textarea:focus, input:focus {
      outline: none;
      border-color: inherit;
      -webkit-box-shadow: none;
    }
  }
  .form-group::after {
    content: "";
    width: 0.41rem;
    height: 0.66rem;
    display: block;
    position: absolute;
    right: 1rem;
    margin-top: 1.1rem;
    background: url("icon.png") no-repeat;
    background-size: 0.41rem 0.66rem;
  }
  .form-group:nth-of-type(1)::after{
    display: none;
  }
  .form-group:nth-of-type(6)::after{
    display: none;
  }
  .form-group:nth-of-type(7)::after{
    display: none;
  }

}

/* 基本信息编辑 结束 bobo */

/* 工作经历页面 开始 bobo*/
.work-experience {
  position: absolute;
  width: 100%;
  background: $light-gray;
  .wrap {
    margin: 0.4rem 0 0 0;
    width: 100%;
    .box {
      border-radius: 0;
      margin-bottom: 0.7rem;
      box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.1);
      time {
        padding-left: 0!important;
      }
      time::before {
        display: none!important;
      }
    }
    .education {
        time {
            font-weight: bold;
        }
        h3 {
            font-weight: bold;
            font-size: 0.86rem;
        }
    }
  }
}
/* 工作经历页面 结束 bobo */

/* 编辑工作经历 开始 bobo */
.edit-work-experiences {
  textarea {
    border: 0;
    height: 8rem!important;
    padding-left: 1rem;
    resize: none;
    margin-top: -1rem;
    padding-top: 0;
    display: block;
    @include  box-shadow(inset 0 0 #fff);
  }
  .btn {
    position: fixed;
    height: 3.67rem;
    width: 50%;
    left: 0;
    bottom: 0;
    border: 0;
    font-size: 0.83rem;
  }
  .btn-del {
    left: 0;
    background-color: #fff;
    color: $beauty-blue;
  }
  .btn-save {
    right: 0;
    background-color: $beauty-blue;
  }
  .class-display {
    display: none;
  }

  // job_fairs
  .job-fair {
    text-align: right;
    padding-right: 2rem !important;

  }
  .form-group:nth-of-type(5)::after {
    display: none;
  }

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    button {
      display: block;
      width: 100%;
      height: 3.5rem;
      text-align: left;
      @include border($light-gray);
      background-color: #fff;
      box-shadow: none;
      padding-left: 0.9rem;
    }
  }
}
/* 编辑工作经历 结束 bobo */

/* 用户登陆 开始 bobo*/
.no-icon {
  .form-group::after {
    content: "";
  }
}
/* 用户登陆 开始 bobo*/


/* 我的页面 开始-汤伟*/

.main.user-first-page {
  $color: #e4e3dc;
  $mask-color: #f4f4f4;
  color: $color;
  background-color: $light-gray;
  // overflow: hidden;
  .user-info {
    position: relative;
    margin: 0 auto;
    height: 12.83rem;
    width: 20.8rem;
    background: url(resumes_bg.png);
    background-size: 20.8rem 12.83rem;
    .user-mask {
      display: block;
      width: 34%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1000;
    }
    .user-hidden {
      display: block;
      top: 10px;
    }
    .user-hidden:hover {
      text-decoration: none;
      color: #fff;
    }
    .user-info-list {
      margin: 0 auto;
      width: 15rem;
      height: 100%;
      text-align: center;
      padding-top: 2.3rem;
      color: #fff;
      .avatar {
        img {
          width: 3.75rem;
          height: 3.75rem;
          border-radius: 50%;
        }
        border-radius: 50%;
        // border: 1px solid $color;
        width: 3.85rem;
        height: 3.85rem;
        margin: 0 auto;

      }
      .info-name {
        font-size: 0.93rem;
        margin-top: 0.57rem;
      }
      .info-username {
        font-size: 0.87rem;
        margin-top: 0.42rem;
      }
      .info-major {
        font-size: 0.73rem;
      }
      .info-usermajor {
        font-size: 0.7rem;
        margin-top: 0.73rem;
        margin-bottom: 0.1rem;
      }
      .info-userposition {
        font-size: 0.7rem;
        // margin-top: 0.2rem;
      }
    }
    .user-status {
      position: absolute;
      right: 0.85rem;
      top: 3.55rem;
      .info-major{
        display: inline-block;
        background-color: rgb(235,235,235);
        width: 6.25rem;
        height: 1.45rem;
        line-height: 1.45rem;
        text-align: center;
        color: #6a6a6a;
        border-radius: 1rem;
        font-size: 0.66rem;
        overflow: hidden;
        float: left;
      }
      img {
        display: inline-block;
        width: 0.3rem;
        height: auto;
        margin-left: 0.7rem;
        margin-top: 0.5rem;
        float: left;
      }
    }
    .user-status-info {
      height: 1.45rem;
      width: 7.3rem;
    }
  }
  .resumes-info-list {
    .resume-ali {
      display: block;
      height: 2.8rem;
      line-height: 2.8rem;
      padding-left: 0.8rem;
      padding-right: 0.65rem;
      margin-top: 1.05rem;
      background: #fff;
      .icon5{
        height: 1rem;
      }
      img {
        display: inline-block;
      }
      span {
        display: inline-block;
        margin-left: 0.55rem;
      }
      .resume-private {
        font-size: 0.8rem;
      }
      &:active,&:visited,&:link {
        color: black;
        text-decoration: none;
      }
    }
    .mask {
      background:  $mask-color;
      height: 1.05rem;
      width: 100%;
    }
    position: relative;
    overflow: hidden;
    .content {
      display: block;
      margin: 0 auto;
      padding-left: 0.65rem;
      padding-right: 0.65rem;
      width: 100%;
      background-color: #fff;
      margin-top: 1.05rem;
      .icon1{
        height: 0.81rem;
      }
      .icon2{
        height: 1.15rem;
      }
      .icon3{
        width: 1.12rem;
      }
      .icon4{
        height: 1.1rem;
      }
      .icon5{
        height: 1rem;
      }
      a {
        display: block;
        height: 2.8rem;
        line-height: 2.8rem;
        border-bottom: 1px solid #e3e3e3;
        font-size: 0.8rem;
        img {
          display: inline-block;
        }
        span {
          display: inline-block;
          margin-left: 0.55rem;
        }
        &:active,&:visited,&:link {
          color: black;
          text-decoration: none;
        }
      }
      a:first-child {
        span:last-child {
          color: rgba(186, 186, 186, 0.8);
          margin-left: 1.1rem;
        }
      }
      a:last-child {
        position: relative;
        .right {
          position: absolute;
          top:0.69rem;
          right:0.96rem;
          background: #3a9da0;
          width: 2.6rem;
          height: 1.35rem;
          border-radius: 0.8rem;
          .swich {
            width: 1.25rem;
            height: 1.25rem;
            border-radius: 50%;
            background-color: #fff;
          }
        }
      }
      .mask {
        background:  $mask-color;
        height: 1rem;
      }
    }
    .user-content {
      a:nth-of-type(4) {
        border-bottom: none;
      }
      .resume img {
        height: 0.25rem;
        width: auto;
        position: relative;
        top: -0.46rem;
      }
      .user-complete {
        font-size: 0.63rem;
      }
    }
  }
}
.home-user {
  position: relative;
  top: -0.05rem;
}

/* 我的页面 结束-汤伟*/


/* 专场列表页 开始-冰华*/
.hospital-list {
  width: 100%;
  height: 6.9rem;
  overflow: hidden;
  position: relative;
  .hospital-bg {
    width: inherit;
    height: 1.87rem;
    position: absolute;
    bottom: 0;
    z-index: 2;
    background: #000000;
    opacity: 0.6;
    filter: alpha(opacity=60);
  }
  .hospital-note {
    width: inherit;
    height: 1.87rem;
    position: absolute;
    bottom: 0;
    z-index: 5;
    h2 {
      width: 40%;
      height: 1.87rem;
      line-height: 1.87rem;
      float: left;
      font-size: 0.7rem;
      color: white;
      font-weight: 400;
      text-indent: 1.1rem;
      margin: 0;
      padding: 0;
    }
    span {
      display: block;
      width: 1.9rem;
      height: 0.9rem;
      line-height: 0.9rem;
      text-align: center;
      margin-top: 0.45rem;
      border: 1px solid white;
      border-radius: 0.3rem;
      float: right;
      color: white;
      font-size: 0.7rem;
    }
    p {
      width: 2.1rem;
      height: 1.87rem;
      line-height: 1.87rem;
      color: white;
      float: right;
      font-size: 0.7rem;
      margin: 0 0.52rem 0 0.35rem;
    }
  }
  a {
    display: block;
    width: 100%;
    height: 6.9rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }
}
/* 专场列表页 结束-冰华*/

/* 我的应聘记录 开始-汤伟*/
.main.my_apply_records {
  $color: #cfcfcf;
  $color-font: #9e9e9e;
  $color-blue: #3f9d9f;
  $color-yellow: #ff7d01;

  text-align: center;
  margin: 0 auto;
  width: 100%;
  background-color: #FFFFFF;
  position: relative;

  .nav-bar{
    position: absolute;
    left: 0;
    top: 0.25rem;
    z-index: 0;
    width: 100%;
    height: 2.05rem;
    border-bottom: 1px solid #e3e3e3;
    margin-top: -5px;
  }
  ul.apply_records {
    margin: 0 auto;
    width: 17rem;
    height: 2rem;
    color: $color-font !important;
    display: block;
    margin-top: -0.25rem;
    position: relative;
    z-index: 10;
   li {
    list-style: none;
    float: left;
    width: 2.6rem;
    margin-right: 2.17rem;
    text-align: center;

    color: $color-font;
    display: block;
    height: 2rem;
    line-height: 2.19rem;
    a {
      color: $color-font;
      font-size: 0.65rem;
      &:active,&:visited,&:link,&:hover {
        text-decoration: none;
      }
    }

   }
   li.active {
     border-bottom: 0.1rem solid $color-blue;
   }
   li.active  a{
       color: $color-blue;
   }
   li:last-child {
     margin-right: 0;
   }
  }
  .nav{
    width: 100%;
    margin: auto;
    .tab {
      clear: both;
      background: #FFFFFF;
      border-bottom:1px solid #e3e3e3;
      .tab-all {
          padding: 0 1.3rem 0 1.3rem;
          margin-bottom: 0;
        .content {
          display: none;
        }
        .active {
          display: block;
        }
        a {
          &:active,&:hover {
            color: black;

          }
        }
        a:last-child>li{
            border: none;
        }

        li {
          height: 6rem;
          border-bottom: 1px solid #e3e3e3;
          list-style: none;

          .left {
            float: left;
            display: inline-block;
            h3 {
              text-align: left;
            }
            p {
              text-align: left;
              color: $color-font;
            }
          }
          .right {
            float: right;
            display: inline-block;
            h3 {
              text-align: right;
              color: $color-yellow;
            }
            p {
              text-align: right;
              color: $color-yellow;
            }
          }
        }


        .job-li {
          padding-top: 1.26rem;
          min-height: 5rem;
        }
        .job-name {
          font-size: 0.83rem;
          img {
            height: 0.25rem;
            width: auto;
            position: relative;
            top: -0.46rem;
          }
        }
        .job-time {
          font-size: 0.7rem;
          display: inline-block;
          margin-top: 0.58rem;
        }
        .job-hsname {
          font-size: 0.7rem;
          margin-top: 0.55rem;
        }
        .job-range {
          font-size: 0.88rem;
        }
        .job-status {
          font-size: 0.7rem;
          margin-top: 0.47rem;
        }
        .apply-li {
          height: 5.2rem;
          .job-name {
            margin-top: 0.66rem;
          }
          .job-range {
            margin-top: 0.6rem;
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .nav-tab .tab {
    border-bottom: none;
  }
}
.main.my_apply_records .nav .tab .tab-all .record-status .job-li {
  padding-top: 0.3rem;
  .job-name {
    margin-bottom: 0.3rem;
  }
  .job-time {
    margin-top: 0;
    margin-bottom: 0;
  }
  .job-hsname {
    margin: 0.4rem 0 0 0;
  }
}

/* 我的应聘记录 结束-汤伟*/

/* 双选会列表页 开始-冰华*/
.fairs-item {
  margin-bottom: 1.3rem;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.container .fairs-item:last-child {
  border-top: 0;
  margin-bottom: 0;
}

#hospital_home {
  position: relative;
  width: 100%;
  height: 11.75rem;
  overflow: hidden;
  .fair-image {
    width: 100%;
    height: 11.75rem;
  }
  .home-bg {
    width: 100%;
    height: 2.4rem;
    position: absolute;
    bottom: 0;
    z-index: 2;
    background: #000000;
    opacity: 0.6;
    filter: alpha(opacity=60);
  }
  .home-note {
    width: inherit;
    height: 2.4rem;
    position: absolute;
    bottom: 0;
    z-index: 3;
    p {
      height: 2.4rem;
      line-height: 2.4rem;
      color: #fff;
      font-size: 0.87rem;
      text-align: center;
    }
  }
}
#hospital-data {
  width: 100%;
  min-height: 2.9rem;
  margin-top: 1.1rem;
  text-align: center;
  .hospital-number {
    width: 49%;
    height: 100%;
    float: left;
    p:nth-child(1) {
      font-size: 0.67rem;
      color: #6c6c6c;
      margin-bottom: 0;
    }
    p:nth-child(2) {
      font-size: 0.83rem;
      color: #399da0;
      span {
        font-size: 2.53rem;
        font-weight: bolder;
      }
    }
  }
  .hospital-time {
    width: 49%;
    height: 100%;
    float: left;
    p:nth-child(1) {
      font-size: 0.67rem;
      color: #6c6c6c;
      margin-bottom: 0.87rem;
    }
    p:nth-child(2) {
      font-size: 1.55rem;
      color: #399da0;
    }
  }
}
#hospital-data>span {
  display:inline-block;
  float: left;
  height: 3rem;
  width: 0.5%;
  background: #bdbdbd;
  margin-top: 0.4rem;
}
#hospital_rule {
  width: 78%;
  margin: 3.87rem auto 0 auto;
  h2 {
    color: #8f8f8f;
    font-size: 1rem;
    margin-bottom: 1.6rem;
    text-align: center;
    padding-top: 1rem;
  }
  p {
    color: #000;
    font-size: 0.8rem;
  }
}
.button {
  text-align: center;
  height: 1.9rem;
  margin-top: 2.98rem;
  margin-bottom: 3rem;
  a {
    display: block;
    width: 6.45rem;
    height: 1.97rem;
    line-height: 1.97rem;
    background: #3a9da0;
    border-radius: 0.3rem;
    margin: 0 auto;
    color: #fff;
    font-size: 0.8rem;
  }
  a:hover {
    color: #fff;
    text-decoration: none;
  }
}
/* 双选会列表页 结束-冰华*/

/* 谁看过我的简历 开始-汤伟*/
  .resume-views {
    .resume-views-list {
      width: 19.08rem;
      margin: 0 auto;
      a {
        @include link-colors;
        .hospital-list {
          position: relative;
          border-bottom: 1px solid #e3e3e3;
          height: 6.17rem;
          padding-top: 1.33rem;
          .title {
            font-size: 0.87rem;
          }
          .job {
            line-height: 2.17rem;
            span {
              display: inline-block;
              margin-left: 0.33rem;
              width: 1.55rem;
              height: 0.75rem;
              line-height: 0.75rem;
              text-align: center;
              color: #3f9e9d;
              border: 1px solid #3f9e9d;
              border-radius:0.33rem;
            }
            .view-count {
              font-size: 0.58rem;
            }
          }
          .right {
            img {
              height: 0.58rem;
            }
          }
          .view-time {
            font-size: 0.63rem;
            color: #9f9f9f;
          }
          .right {
            position: absolute;
            top: 2.6rem;
            right: 1.32rem;
            width: 0.49rem;
            height: 0.5rem;
          }
          .title {
            .left {
              font-size: 0.85rem;
              font-weight: bold;
            }
            .right {
              color: rgb(255,162,0);
            }
          }
          .detail {
            color: rgb(195,195,195);
            line-height: 1.9rem;
          }
        }
      }
    }
  }
.resume-views .resume-byview a .hospital-list {
    padding-top: 1rem;
  }

/* 谁看过我的简历 结束-汤伟*/

/* 医院详情 开始-汤伟*/
.hospital-details {
  margin: 0  auto;
  background: #fff;
  .hospital-introduce{
    margin: 0 auto;
    padding-top: 1.63rem;
    padding-left: 1rem;
    padding-right:  1rem;
    @include border(#cfcfcf);
    .title {
      font-size: 0.93rem;
    }
    p {
      margin-top: 1.1rem;
      font-size: 0.8rem;
      color: #9b9b9b;
    }
  }
  .job-bg {
    background: #f3f3f3;
    height: 0.56rem;
  }
  .work-address {
    margin: auto;
    line-height: 2.22rem;
    @include border(#cfcfcf);
    padding-left: 1rem;
    a {
      display: block;
      position: relative;
      width: 100%;
      font-size: 0.7rem;
    }
    a:hover {
      text-decoration: none;
    }
    span {
      color: #9b9b9b;
      margin-right: 0.76rem;
      font-size: 0.7rem;
    }
    img {
      position: absolute;
      top: 0.8rem;
      right: 0.87rem;
      height: 0.6rem;
      width: auto;
    }
  }
  .jobs{
    padding-left: 1rem;
    line-height: 2.7rem;
    font-size: 0.87rem;
    border-top: 1px solid #e3e3e3;
    @include border(#cfcfcf);
    a {
      display: block;
      width: 100%;
      font-size: 0.87rem;
    }
    span {
      display: inline-block;
      border: 1px solid #3f9e9f;
      border-radius: 0.35rem;
      width: 1.67rem;
      height: 0.98rem;
      line-height: 0.92rem;
      text-align: center;
      color: #3f9e9f;
      margin-left: 0.57rem;
    }
    img {
      height: 0.6rem;
      float: right;
      margin-right: 0.87rem;
      margin-top: 1rem;
    }
  }
  .details{
    border-top: 1px solid #e3e3e3;
    .title {
      line-height: 2.17rem;
      color: #9b9b9b;
      padding-left: 1rem;
      font-size: 0.7rem;
    }
    p {
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 0.7rem;
      line-height: 1.1rem;
    }
    p:last-child {
      margin-top: 1.33rem;
    }
  }
  .hospital-desc {
    min-height: 19rem;
    .title {
      line-height: 2rem;
    }
    p {
      margin: 0!important;
    }
  }
}
.favorite-job {
  padding-top: 1.5rem;
}
.hospital-details .hospital-mainpage {
  padding-top: 1.3rem;
  title {
    font-size: 0.97rem;
  }
  p {
    margin-top:0.6rem;
    font-size: 0.7rem;
    margin-bottom: 1.2rem;
  }
}
/* 医院详情 结束-汤伟*/

/* 简历预览 开始-冰华*/
#resumes-preview {
  background: #f4f4f4;
  margin-top: -2.1rem;
  .resumes-preview-img {
    position: relative;
    height: 10.43rem;
    background: url(preview_bg.png);
    background-size: 20.7rem 10.43rem;
    .resumes-preview-md {
      height: inherit;
      width: 3.6rem;
      margin: 0 auto 0 auto;
      position: relative;
      top: 2rem;
      .avatar-box {
        width: 3.75rem;
      }
      p {
        font-size: 0.87rem;
        text-align: center;
        margin-top: 0.67rem;
        color: #fff;
      }
      .image-head {
        width: 3.65rem;
        height: 3.65rem;
        margin-top: 2rem;
        img {
          width: 3.6rem;
          height: 3.6rem;
          border-radius: 50%;
        }
      }
    }
  }
  .resumes-preview-public {
    h1 {
      text-indent: 0.82rem;
      font-size: 0.7rem;
      margin: 0.72rem 0 0.57rem 0;
    }
  }
}
.resumes-preview-bg {
  min-height: 2.5rem;
  border-radius: 0.3rem;
  border: 1px solid #e3e3e3;
  padding-bottom: 0.15rem;
  width: 18.93rem;
  margin: 0.57rem auto 0 auto;
  background: #fff;
  .preview-image {
    width: 3.65rem;
    height: 100%;
    margin: 0 auto;
    padding-top: 2.42rem;
    position: relative;
    .image-head {
      width: 3.65rem;
      height: 3.65rem;
      img {
        width: 3.65rem;
        height: 3.65rem;
      }
    }
  }

  .work-time {
    h3 {
      margin: 0.93rem 0 0.78rem 0;
      font-size: 0.8rem;
    }
    p {
      font-size: 0.7rem;
      color: #696969;
      line-height: 1.08rem;
    }
  }
}


#preview_resume {
  .work-try {
    padding-top: 0.8rem;
    padding-bottom: 0.2rem;
    .blue-left {
      border-left: 1px solid $beauty-blue;
      position: absolute;
      top: 0;
      left: 0.75rem;
      width: 3rem;
      height: 100%;
      z-index: 100;
      .blue-point {
        position: absolute;
        top: 0;
        left: -0.25rem;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: $beauty-blue;
        z-index: 10;
      }
      .time-line-box {
        padding-bottom: 0.1rem;
      }
    }
  }
}

#preview-expect {
  border-radius: 0.3rem;
  border: 1px solid #e3e3e3;
  margin-top: 0.57rem;
  margin-bottom: 5rem;
}
.resumes-preview-base {
  height: 18.4rem;
  .resumes-base {
    font-size: 0.8rem;
    margin-left: 0.7rem;
    margin-top: 0.4rem;
    tr {
      height: 1.7rem;
      line-height: 1.7rem;
      td+td {
        padding-left: 0.8rem;
      }
      span {
        display: inline-block;
        margin-right: 1.4rem;
      }
    }
  }
}

  .public-preview-style {
    padding-top: 0.7rem;
    padding-bottom: 0.5rem;
    time {
      font-size: 0.7rem;
    }
    .expect-preview {
      margin-top: 0.5rem;
    }
  }
  .expect-preview-style {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    time {
      font-size: 0.7rem;
    }
    .expect-preview {
      margin-top: 0.5rem;
    }
  }
/* 简历预览 结束-冰华*/

/* 职位详情 开始-冰华*/
.job-head {
  height: 2.35rem;
  background: #fff;
  div {
    margin: 0 auto;
    height: inherit;
    width: 91%;
    font-size: 0.7rem;
    text-align: center;
    border-bottom: 1px solid #e3e3e3;
    .job-page {
      display: block;
      width: 50%;
      height: 100%;
      line-height: 2.35rem;
      background: #fff;
      color: #000;
      border-bottom: 2px solid #3f9e9f;
      float: left;
      text-decoration: none;
      text-align: center;
    }
    .hospital-page {
      display: block;
      width: 50%;
      height: 100%;
      line-height: 2.35rem;
      background: #fff;
      border-bottom: 2px solid #fff;
      float: left;
      cursor: pointer;
      color: $black-gray;
      text-decoration: none;
      text-align: center;
    }
  }
}

#job-detail {
  width: 100%;
  background: #f3f3f3;
  section {
    width: 100%;
    background: #fff;
    .job-introduce {
      padding: 0.92rem 0 0 1.02rem;
      h3 {
        margin: 0;
        font-size: 0.93rem;
      }
      p {
        font-size: 0.8rem;
        color: #ff8b00;
        padding-top: 0.35rem;
        margin-bottom: 0.3rem;
      }
      ul {
        list-style: none;
        margin-bottom: 0;
        li {
          height: 1.42rem;
          line-height: 1.42rem;
          color: #424242;
          font-size: 0.7rem;
          position: relative;
          span {
            color: #9b9b9b;
            margin-right: 0.75rem;
          }
          span:nth-child(2) {
            position: absolute;
            top: 0;
            left: 8rem;
          }
          span:nth-child(3) {
            position: absolute;
            top: 0;
            left: 10rem;
            color: #000;
          }
        }
      }
    }
    .job-place {
      margin-top: 1.1rem;
      line-height: 2.32rem;
      border-top: 1px solid #e3e3e3;
      border-bottom: 1px solid #e3e3e3;
      text-indent: 1.02rem;
      font-size: 0.7rem;
      background-color: #fff;
      a {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        color: #424242;
        text-decoration: none;
        span {
          color: #9b9b9b;
          margin-right: 0.6rem;
        }
        i {
          position: absolute;
          right: 0.8rem;
          // float: right;
          // margin-right: 0.8rem;
          img {
            width: 0.33rem;
            height: 0.58rem;
          }
        }
      }
    }
  }

  .job-right {
    margin-top: 0.62rem;
    border-top: 1px solid #e3e3e3;
  }
  .job-descripte {
    width: 18.67rem;
    padding-top: 0.65rem;
    padding-bottom: 6rem;
    font-size: 0.7rem;
    padding-left: 1.02rem;
    h2 {
      color: #9b9b9b;
      margin: 0;
      font-size: 0.7rem;
    }
    h3 {
      font-size: 0.7rem;
      margin: 0.6rem 0 0.8rem 0;
    }
    h4 {
      font-size: 0.7rem;
      margin: 0 0 0.3rem 0;
    }
    p {
      font-size: 0.7rem;
      margin: 0 0 0.2rem 0;
    }
    .job-post {
      margin: 0;
      padding-top: 2.22rem;
      color: #9b9b9b;
      padding-bottom: 0.6rem;
    }
  }
}
.job-list {
  width: 100%;
  height: 2.78rem;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #DCDCDC;
  li {
    width: 33.33%;
    height: 100%;
    float: left;
    list-style: none;
    a {
      display: block;
      height: 100%;
      width: 100%;
      color: #444444;
      font-size: 0.87rem;
      text-align: center;
      line-height: 2.78rem;
      text-decoration: none;
      position: relative;
      img {
        width: 1rem;
        height: auto;
        margin: 0 0.3rem 0.1rem 0;
      }
    }
  }
  li:nth-child(1) {
    span {
      position: relative;
      top: 0.1rem;
    }
  }
  li:nth-child(2) {
    span {
      margin-left: -0.2rem;
    }
  }
  li:nth-child(3) {
    span {
      position: relative;
      top: 0.1rem;
      margin-left: -0.25rem;
    }
  }
  .no_applied, .no_resume {
    color: #fff;
    background: #3f9e9f;
  }
  .is_applied {
    color: #dadada;
    background: #a1a1a1;
  }
}
/* 职位详情 结束-冰华*/

/* 搜索 开始-tw*/

.search {
  margin: auto;
  position: relative;
  padding: 0.25rem 0;
  width: 21rem;
  line-height: 2.08rem;
  background-color: #f4f4f4;
  overflow: hidden;

  .search-img {
      position: absolute;
      width: 0.83rem;
      top: 0.62rem;
      left: 0.78rem;
    }
  .close-img {
      position: absolute;
      width: 0.78rem;
      top: 0.62rem;
      right: 4.66rem;
      }
  .left {
    width: 16.3rem;
    height: 1.62rem;
    float: left;
    border: 1px solid #e3e3e3;
    line-height: 1.62rem;
    background: white;
    border-radius: 0.2rem;
    text-align: center;
    margin-left: 0.2rem;
  }
  .right {
    float: right;
    margin-right: 0.4rem;
    background: #3f9e9f;
    height: 1.62rem;
    line-height: 1.62rem;
    width: 3.88rem;
    border-radius: 0.3rem;
    border: 1px solid #e3e3e3;
    color: rgb(193,193,193);
    text-align: center;

  }
}
/* 搜索 结束-tw*/

/* 搜索详情 开始-tw*/
.search-details{
  margin: auto;
  background-color: $light-gray;

  .search-conditions{
    border-top: 1px solid #e3e3e3;
    @include border(#636363);
    font-size: 0.77rem;
    .dropdown {
    position: relative;
    display: inline-block;
    margin: 0;
    border-right: 1px solid #e3e3e3;
    width: 32%;
    line-height: 2.1rem;
    text-align: center;
      .triangle {
        position: absolute;
        top: 0.8rem;
        left: 5rem;
        /* 1.idth和height设置为0 */
        width: 0;
        height: 0;
        /* 2.设置三角形三边（上三角, 高为10px, 底边长为14px, 背景色为lime)*/
        border-top: 10px solid #7c7c7c;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;

      }
    }
    .dropdown:last-child {
      border-right: 1px solid #fff;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
  }
  .work-experences{
    margin: 0 auto;
    margin-top: 2.4rem;
    width: 19.62rem;
    .title{
      font-size: 0.78rem;
      color: #767676;
    }
    .work-experences-items{
      margin-top: 0.5rem;
      button {
        @include button();
      }
      button.big {
        width: 5.62rem;
      }
    }

  }
  .major-requirements{
    margin: 0 auto;
    margin-top: 3.11rem;
    width: 19.62rem;
    .title{
      font-size: 0.78rem;
      color: #767676;
    }
    .major-requirements-items{
      margin-top: 0.5rem;

      button {
        @include button();
      }
      button.big {
        width: 5.62rem;
      }
    }
  }
  .submit {
    display: block;
    color: #fff;
    margin:6.51rem auto 0;
    border-radius: 0.6rem;
    width: 80%;
    height: 2.3rem;
    background-color: #3f9e9f;
    font-size: 0.78rem;
  }
}
/* 搜索详情 结束-tw*/

/*我的应聘记录　开始－冰华*/
#apply-bg {
  background: #f3f3f3;
  .position-info {
    width: 100%;
    background: #fff;

    a {
      display: block;
      width: 21rem;
      margin: 0 auto;
      height: 6rem;
      color: #141414;
      text-decoration: none;
      img {
        float: left;
        margin-top: 10%;
        margin-left: 0.4rem;
      }
      .position-detail {
        width: 100%;
        height: 6rem;
        float: left;
        text-indent: 0.3rem;
        h3 {
          font-weight: 300;
          font-size: 0.93rem;
          span {
            color: #ff7d01;
            margin-left: 12.6rem;
          }
        }
        p {
          color: #9e9e9e;
          font-size: 0.7rem;
          span {
            margin-left: 12rem;
          }
        }
      }
    }
  }
  .apply-status {
    width: 100%;
    margin: 0.7rem auto 0.7rem auto;
    height: 2.6rem;
    line-height: 2.6rem;
    font-size: 0.87rem;
    font-weight: 550;
    text-indent: 0.4rem;
    color: #141414;
    background: #fff;
    p {
      width: 21rem;
      margin: 0 auto;
      padding-left: 0.9rem;
    }
  }
  .apply-process {
    padding-top: 2rem;
    .process-box {
      height: 12rem;
    }
    .process-time {
      font-size: 0.7rem;
      margin-top: 0.5rem;
      color: #141414;
    }
  }
}
// 重构状态展示列表
.apply-content {
  width: 100%;
  min-height: 10rem;
  background: #fff;
  padding-top: 1.92rem;
  .apply-stat {
    width: 17.5rem;
    margin: 0 auto;
    // height: 10rem;
    .apply-end {
      width: 100%;
      height: 4.5rem;
      color: #9e9e9e;
      border-left: 1px solid #9e9e9e;
      padding-left: 1.42rem;
      position: relative;
      time {
        font-size: 0.87rem;
      }
      div {
        margin-top: 0.25rem;
        p {
          font-size: 0.45rem;
        }
      }
    }

    .apply-view {
      width: 100%;
      height: 4.5rem;
      color: #9e9e9e;
      border-left: 1px solid #9e9e9e;
      margin-bottom: -1.2rem;
      padding-left: 1.42rem;
      position: relative;
      time {
        font-size: 0.6rem;
      }
      div {
        margin-top: 0.25rem;
        p {
          font-size: 0.45rem;
        }
      }
    }
    .apply-recieve {
      width: 100%;
      height: 4.5rem;
      color: #9e9e9e;
      padding-left: 1.42rem;
      position: relative;
      time {
        font-size: 0.6rem;
      }
      div {
        margin-top: 0.25rem;
        p {
          font-size: 0.45rem;
        }
      }
    }

    .blue-point {
      width: 0.9rem;
      height: 0.9rem;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: -0.46rem;
      background: #9e9e9e;
      margin: 0!important;
    }
  }
  #apply_recieve {
    .apply-recieve {
      .blue-point {
        background: #3d9f9f;
      }
      time {
        font-size: 0.87rem;
        color: #3d9f9f;
      }
    }
  }
  #apply_view {
    .apply-view {
      .blue-point {
        background: #3d9f9f;
      }
      time {
        font-size: 0.87rem;
        color: #3d9f9f;
      }
    }
  }
  #apply_end {
    .apply-end {
      .blue-point {
        background: #3d9f9f;
      }
      time {
        font-size: 0.87rem;
        color: #3d9f9f;
      }
    }
  }
}

/*我的应聘记录　结束－冰华*/

// 公开简历　开始－李冰华
.block-hospital {
  background: #f4f4f4;
  .block-btn {
    height: 5.81rem;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #e3e3e3;
    .block-middle {
      width: 9rem;
      margin: 0 auto 0 auto;
      position: relative;
      padding-top: 2.4rem;
      .block-board {
        font-size: 0.8rem;
      }
      .right {
        position: absolute;
        top: 2.3rem;
        right: 0.5rem;
        background: #3a9da0;
        width: 3rem;
        height: 1.35rem;
        border-radius: 0.8rem;
        .swich {
          position: relative;
          top: 0.05rem;
          width: 1.25rem;
          height: 1.25rem;
          border-radius: 50%;
          background-color: #fff;
        }
      }
      .left {
        position: absolute;
        top: 2.3rem;
        right: 0.5rem;
        background: #a3a3a3;
        width: 3rem;
        height: 1.35rem;
        border-radius: 0.8rem;
        .swich {
          position: relative;
          top: 0.05rem;
          width: 1.25rem;
          height: 1.25rem;
          border-radius: 50%;
          background-color: #fff;
          margin-left: 1.7rem;
        }
      }
    }
  }
  h5 {
    color: #767676;
    font-size: 0.8rem;
    margin: 0.8rem 0 0.58rem 0.68rem;
  }
  .block-selet {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #e3e3e3;
      ul {
        width: 94.4%;
        margin: 0 auto;
        li {
          height: 2.88rem;
          line-height:  2.88rem;
          font-size: 0.8rem;
          border-bottom: 1px solid #e3e3e3;
          span {
            float: left;
          }
          img {
            width: 0.8rem;
            height: 0.8rem;
            float: right;
            margin: 1.05rem 0.95rem 0 0;
          }
        }
        li:last-child {
          color: #3d9f9d;
          border: none;
        }
      }
  }
  .model {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -6.9rem;
    margin-top: -2.37rem;
    width: 13.8rem;
    height: 4.73rem;
    display: none;
    font-size: 0.8rem;
    line-height: 2rem;
    text-align: center;
    background-color: #212121;
    opacity: 0.8;
    border-radius: 0.7rem;
    p {
      display: block;
      width: 11.2rem;
      line-height: 0.5rem;
      text-align: center;
      color: #fff;
      height: auto;
      margin-top: 1.2rem;
      margin-left: 1.4rem;
    }
  }

}

// 公开简历　结束－李冰华

// 添加屏蔽　开始－李冰华
.block-shield {
  background: #f4f4f4;
  .control-label {
    display: none;
  }
  .edit-text {
    display: block;
    margin: 0.42rem auto 0 auto;
    height: 2.57rem;
    width: 96.62%;
    border: 1px solid #e3e3e3;
    border-radius: 0.3rem;
    text-indent: 0.8rem;
    color: #767676;
    font-size: 0.8rem;
  }
  .edit-text:focus {
    border: none;
  }
  .btn-shield {
    position: absolute;
    top: 0;
    right: 0;
    width: 3.7rem;
    height: 2.3rem;
    opacity: 0;
  }
}
// 添加屏蔽　结束－李冰华

// 持有证书　开始－冰华
.certificate-show {
  width: 100%;
  background: #fff;
  li {
    width: 94.4%;
    margin: 0 auto;
    height: 2.88rem;
    line-height:  2.88rem;
    font-size: 0.8rem;
    border-bottom: 1px solid #e3e3e3;
    position: relative;
    span {
      position: absolute;
      top: 0;
      left: 0;
    }
    img {
      width: 0.8rem;
      float: right;
      margin: 1.05rem 0.95rem 0 0;
    }
  }
  li:last-child {
    color: #3d9f9d;
    border: none;
    border-bottom: 1px solid #e3e3e3;
  }
}

#new_certificate {
  padding-top: 0.42rem;
  .control-label {
    display: none;
  }
  .btn-certificate {
    position: absolute;
    top: 0;
    right: 0;
    width: 3.7rem;
    height: 2.3rem;
    opacity: 0;
  }
}

.block-form {
  width: 96.62%;
  margin: 0 auto;
  #new_certificate>div>input {
    box-shadow: none;
  }
}
// 持有证书　结束－冰华


// mask 蒙版
.mask-all {
  #apply_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 1000;
    .mask-apply {
      position: fixed;
      left: 50%;
      top: 50%;
      margin-top: -4.2rem;
      margin-left: -6.75rem;
      width: 13.5rem;
      height: 8.3rem;
      background: #fff;
      font-size: 0.8rem;
      border-radius: 0.23rem;
      z-index: 100;
    }
    .mask-text {
      width: 100%;
      height: 5.6rem;
      text-align: center;
      line-height: 5.6rem;
      float: left;
      border-radius: 0.23rem;
      font-size: 0.8rem;
    }
    button:nth-of-type(1) {
      width: 50%;
      height: 2.8rem;
      background: #3f9e9f;
      color: #fff;
      float: left;
      text-align: center;
      border-radius: 0 0.23rem 0 0.23rem;
      font-size: 0.8rem;
    }
    button:nth-of-type(2) {
      width: 50%;
      height: 2.8rem;
      color: #3f9e9f;
      float: left;
      text-align: center;
      border-radius: 0.23rem 0 0.23rem 0;
      border: none;
      background-color: #f4f4f4;
      font-size: 0.8rem;
    }
  }
}

//筛选列表样式
.before-mask {
  position: fixed;
  width: 100%;
  height: 100%!important;
  top: 0;
  left: 0;
  background: #F4F4F4;
  z-index: 1000;
  p {
    width: 19.05rem;
    height: 2.53rem;
    line-height: 2.53rem;
    font-size: 0.8rem;
    margin: 0 auto;
    border-bottom: 1px solid #e3e3e3;
    text-indent: 4px;
    cursor: pointer;
  }
}
.work-mask {
  .float-style {
    p {
      float: left;
      width: 50%;
      text-indent: 1.4rem;
    }
  }
}

//resumes show页面
.edit-education {
  .form-group:nth-of-type(5)::after {
    content: "";
    width: 0.41rem;
    height: 0.66rem;
    display: block;
    position: absolute;
    right: 1rem;
    margin-top: 1.1rem;
    background: url("icon.png") no-repeat;
    background-size: 0.41rem 0.66rem;
  }
}




//resumes show页面
.show-style {
  // padding-top: 0.7rem;
  h2 {
    margin-bottom: 0.5rem;
    margin-top: 0.7rem;
  }
  .work-show {
    time {
      // padding-top: 0.8rem;
    }

  }
}
.work-show {
  .time-line-box {
    padding-top: 0;
  }
  h3 {
    margin: 0.5rem 0 0.4rem 0;
  }
}
.edit-blank {
  margin-top: 0.1rem;
  width: 100%;
  height: 6.83rem;
  border: 1px solid #e3e3e3 ;
  background: #fff;
  border-radius: 0.2rem;
  a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 3rem;
    p {
      img {
        width: 0.72rem;
        height: 0.72rem;
        margin-right: 0.4rem;
        margin-top: -0.4rem;
      }
      span {
        display: inline-block;
        font-size: 0.8rem;
        color: #3f9e9f;
        height: 0.72rem;
        line-height: 0.72rem;
      }
    }

  }
}


// 底部导航
.delete-bottom {
  display: none;
}
.btm-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.05rem;
  background: #FFF;
  z-index: 0;
  .btm-delete {
    display: block;
    width: 51%;
    height: 3.05rem;
    float: left;
    font-size: 0.87rem;
    line-height: 3.05rem;
    text-align: center;
    color: #3f9e9f;
    margin: 0!important;
  }
  .btm-save {
    width: 49%;
    height: 3.05rem;
    float: left;
    font-size: 0.87rem;
    line-height: 3.05rem;
    background: #3f9e9f;
    text-align: center;
    color: #fff;
    margin: 0!important;
  }
}


.sessions {
  margin-left: 30%;
  margin-top: 15%;
  width: 40%;

  .btn-blue {
    margin-top: 3em;
    line-height: 1em;
    height: 46px;
    text-align: center!important;
    background-color: #3b9d9f;
    border-color: #b4d7d6;
  }

  .btn-blue:hover {
    background-color: #3b9d9f;
    border-color: #b4d7d6;
    opacity: 0.9;
  }

  label {
    // margin-top: 0.2rem;
    position: absolute;
    // float: left;
    padding-left: 1em;
    // padding-right: 1.47rem;
    line-height: 38px;
    font-weight: normal;
    color: $font-gray;
    white-space: pre;

    abbr {
      display: none;
    }
  }

  .form-control {
    padding-left: 5.5em;
  }

}

// 二级脚本页面
.div-hidden {
  height: 36rem;
  z-index: 1000;
}


// 删除弹窗
#delete_bottom_id {
  display: none;
}
#popup_delete {
  display: none;
  #popup {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
  }
  ul {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -4.2rem;
    margin-left: -6.75rem;
    width: 13.5rem;
    height: 8.4rem;
    background: #fff;
    font-size: 0.8rem;
    border-radius: 0.23rem;
    z-index: 100;
    li:nth-child(1) {
      width: 100%;
      height: 5.6rem;
      text-align: center;
      line-height: 5.6rem;
      border-radius: 0.23rem;
    }
    li:nth-child(2) {
      width: 50%;
      height: 2.8rem;
      background: #3f9e9f;
      color: #fff;
      float: left;
      text-align: center;
      line-height: 2.8rem;
      border-radius: 0 0.23rem 0 0.23rem;
    }
    li:nth-child(3) {
      width: 50%;
      height: 2.8rem;
      color: #3f9e9f;
      float: left;
      background-color: #f4f4f4;
      text-align: center;
      line-height: 2.6rem;
      border-radius: 0.23rem 0 0.23rem 0;
    }
  }
}




.expect-img {
  a.expect-expend {
    margin-top: 01rem;
  }
}

.form-control[readonly] {
  background-color: #fff !important;
}



.title-over {
  display: inline-block;
  width: 3rem;
  height: 2.3rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

//home
#myform {
  position: relative;
  #cityChoice {
    font-size: 0.7rem;
    color: #949494;
  }
  img {
    width: 0.72rem;
    height: 0.72rem;
    position: absolute;
    top: 0.45rem;
    left: 6rem;
  }
  #search:focus {
    border: 1px solid #e3e3e3;
  }
}

// 职位列表
.hospitaljob-list {
  margin-top: 1rem;
}

#user-edit {
  .form-group:nth-of-type(6)::after {
    content: "";
    width: 0.41rem;
    height: 0.66rem;
    display: block;
    position: absolute;
    right: 1rem;
    margin-top: 1.1rem;
    background: url("icon.png") no-repeat;
    background-size: 0.41rem 0.66rem;
  }
}

// 工作经历首页　bh
#work_edit_wrap {
  padding-bottom: 2.7rem;
}
.workindex-page {
  border: 1px solid #e3e3e3;
  padding-top: 0.6rem;
  padding-bottom: 0.3rem;
  margin-bottom: 0.58rem;
  width: 100%;
  background: #fff;
  .box-table {
    width: 90%;
    margin: 0 auto;
    position: relative;
    a {
      display: block;
      width: 2.68rem;
      height: 0.87rem;
      position: absolute;
      top: 0.4rem;
      right: 0;
    }
    img {
      width: 2.68rem;
      height: 0.87rem;

    }
    time {
      font-size: 0.7rem;
    }
    h3 {
      font-size: 0.87rem;
      margin: 0.5rem 0 0.7rem 0;
    }
    p {
      font-size: 0.77rem;
      color: #9c9c9c;
      width: 98%;
      line-height: 1.08rem;
    }
  }
}

.container .job-favr {
  padding-top: 0.8rem;
  .detail{
    .left {
      font-size: 0.7rem;
    }
    .right {
      font-size: 0.7rem;
    }
  }
  .jobs-list .red-img {
    width: 0.3rem;
    height: auto;
    position: relative;
    top: -0.5rem;
  }
}

// 工作经历编辑页　bh
#blank-none {
  min-height: 100px;
  background: #f4f4f4;
}
// 工作经历

//职位列表
.jobs .jobs-list .job .job-list-detail {
  .left {
    font-size: 0.7rem;
  }
  .right {
    font-size: 0.7rem;
  }
}

//应聘记录
#apply-bg .apply-info {
  padding-top: 0;
  a .record-job {
    h3{
      span {
        // margin-left: 0;
        display: inline-block;
      }
    }
    p span {
      margin-left: 11.3rem;
    }
  }
}
#apply-bg .resume-spply-style {
  background:#fff;
  .box {
    height: 7rem;
    overflow: hidden;
  }
  .box-margin {
    margin-top: -1.1rem;
  }
}


//huangwei

#preview-expect{padding: 0;}
// #preview-expect .work-time h3{margin-top: 0.2rem}
#resumes-preview{padding-bottom: 3rem;}
.wrap .borDer{min-height: 3rem;}
.wrap .borDer>p.certi-p{padding-top: 0.7rem;}
#wrap .wrap .box-minheight {min-height: 3rem;}
#wrap .wrap #user_pect {padding-top: 0.3rem;}
#wrap .wrap .edit-certi {border: 0;}
#wrap .wrap .edit-certi a {margin-top: 0;}
#wrap .wrap .edit-certi a p {padding-top: 3rem;}
.newContainer{background: #f3f3f3;}
.workindex-page{padding-bottom: 0;padding-top: 0.65rem;}
.box-table .edit{margin-top: -6px;}
#noBorber{border: none;}
.position-info {padding: 1rem 1rem 0 1rem;}
.record-job h3 span{display: block;}

#jobs_home_list {margin-top: -0.9rem;}
#jobs_home_list .left {font-size:0.7rem;}
#jobs_home_list .right {font-size:0.7rem;}
#jobs_home_list .job-name {font-size:0.93rem;}
#jobs_home_list .right-range {font-size:0.8rem;}
#myform #cityChoice{-webkit-appearance: none;}
#myform #search{-webkit-appearance: none;}
#apply-bg .position-info a .record-hh h3 span {margin-left:0;float: right;margin-right:2.3rem;}
#apply-bg .apply-info a .record-hh p span {margin-left:0;float: right;margin-right:2.3rem;}
#apply-bg .apply-info a .record-hh p span img {width: 0.38rem; height: auto;}

.edit-expectjob {
  .form-group:nth-of-type(1)::after {
    content: "";
    width: 0.41rem;
    height: 0.66rem;
    display: block;
    position: absolute;
    right: 1rem;
    margin-top: 1.1rem;
    background: url("icon.png") no-repeat;
    background-size: 0.41rem 0.66rem;
  }
  .form-group:nth-of-type(5) {
      margin-bottom: 5.7rem;
  }
}
#wrap {
  .job-pubilc {
    position: relative;
    .empty-cont {
      display: inline-block;
      width: 1.3rem;
      height: 1.3rem;
      position: absolute;
      top: 0.65rem;
      right: 0.1rem;
      z-index: 1000;
    }
  }
  .job-pubilc {
    .form-group::after {
      content: "";
      width: 0.93rem;
      height: 0.93rem;
      display: block;
      position: absolute;
      right: 0.5rem!important;
      margin-top: 1rem;
      background: url(image_path("icon_24.png")) no-repeat;
      background-size: 0.9rem 0.9rem;
    }
  }

  .edit-work-experiences {
    .job-pubilc {
    .form-group::after {
      right: 0.7rem;
    }
   }
  }
}

#wrap .container #work_eidt {
  .form-group:nth-of-type(5) {
    position: relative;
    overflow: visible;
    textarea {
      position: absolute;
      top: 3.5rem;
      left: 0;
    }
  }

}

#job_list {
  #msg {
    background-color: #f6f6f6;
  }
  li:nth-child(3) {
    background-color: #f6f6f6;
  }
}


// 屏蔽医院
.hospital_li {
  width: 91.4%;
  margin: 0 auto;
  font-size: 0.8rem;
  height: 2.88rem;
  line-height: 2.88rem;
  border-bottom: 1px solid #e3e3e3;
}

// 双选会医院列表
.fair-list {
  .hospital-img {
    width: 100%;
    height: 6.9rem;
  }
}


// 添加按钮
  #new_edit_btn {
    position: fixed;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 46px;
    text-align: center;
    line-height: 46px;
    background-color: $beauty-blue;
    text-decoration: none;
    color: #fff;
    font-size: 0.87rem;
  }


// 失败弹窗，1秒后自动消失
.mask-middle {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -2.8rem;
  margin-left: -6.75rem;
  width: 13.5rem;
  height: 5.6rem;
  line-height: 5.6rem;
  text-align: center;
  font-size: 0.9rem;
  background: rgba(0,0,0,0.5);
  color: #fff;
  border-radius: 0.5rem;
}

// 页面浮动小脚本
.float-color {
  display: block;
  position: fixed;
  bottom: 3rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-align: center;
  line-height: 3rem;
  font-size: 0.7rem;
  background: #3d9e9f;
  color: #fff;
}

#user-edit {
  .IIInsomnia-city-picker {
    width: 100%!important;
  }
  .IIInsomnia-province {
    float: left;
  }
}
