<% provide :link, new_webapp_work_experience_path  %>
<% provide :title, "教育经历" %>
<% provide :content, "添加" %>
<div class="resume-show work-experience">
  <div class="wrap">
    <section>
        <div class="box education">
            <a href="<%= edit_webapp_education_experience_path(:id) %>" class="edit">编辑</a>
            <time>2016年毕业</time>
            <div class="work-box">
                <h3>武汉大学同济学院</h3>
                <p>
                <span>硕士</span>，<span>医学护理专业</span>
                </p>
            </div>
        </div>
    </section>

    <section>
        <div class="box education">
            <a href="<%= edit_webapp_work_experience_path(:id) %>" class="edit">编辑</a>
            <time>2015.01-2016.01</time>
            <div class="work-box">
                <h3>复旦大学医学院</h3>
                <p>
                 <span>本科</span>，<span>医学护理专业</span>
                </p>
            </div>
        </div>
    </section>
  </div>
</div>

<script type="text/javascript">

fullScreen('.work-experience');

</script>
