
<% provide :title, "医院详情" %>

<div class="job-head">
  <div>
    <a class="hospital-page" onclick="job_page()" id="job_page">职位详情</a>
    <a class="job-page" onclick="hospital_page()" id="hospital_page">医院详情</a>
  </div>
</div>

<!-- #hospital_detail 医院详情 -->
<%= render 'hospital_detail' %>

<!-- #job-detail职位详情 -->
<%= render '/webapp/jobs/job_detail' %>

<script type="text/javascript">
// 切换 job & hospital 见 yunkang.js
  $(hospital_page());

  fullScreen('#job-detail');
</script>
