<!--该页是医院的职位列表页-->
<% provide :title, "广州XXXXXXXX人民医院" %>
<div class="jobs hospitaljob-list">
  <div class="jobs-list">
    <a href="/webapp/jobs/1?hospital=<%= params[:id] %>">
      <div class="job">
        <div class="title">
          <div class="left">儿科护士</div>
          <div class="right">4000-5000/月</div>
          <div style="clear:both"></div>
        </div>
        <div class="detail">
          <div class="left">荔湾区人民医院</div>
          <div class="right">广州市白云区</div>
          <div style="clear:both"></div>
        </div>
      </div>
    </a>
    <a href="/webapp/jobs/1?hospital=<%= params[:id] %>">
      <div class="job">
        <div class="title">
          <div class="left">儿科护士</div>
          <div class="right">4000-5000/月</div>
          <div style="clear:both"></div>
        </div>
        <div class="detail">
          <div class="left">荔湾区人民医院</div>
          <div class="right">广州市白云区</div>
          <div style="clear:both"></div>
        </div>
      </div>
    </a>
    <a href="/webapp/jobs/1?hospital=<%= params[:id] %>">
      <div class="job">
        <div class="title">
          <div class="left">儿科护士</div>
          <div class="right">4000-5000/月</div>
          <div style="clear:both"></div>
        </div>
        <div class="detail">
          <div class="left">荔湾区人民医院</div>
          <div class="right">广州市白云区</div>
          <div style="clear:both"></div>
        </div>
      </div>
    </a>
  </div>
</div>
