<li class="<%='active' if params[:action] == 'index'%>">
  <a href="/admin/users"><%= image_tag 'users_index.png' %>角色权限</a>
</li>
<li class="<%='active' if params[:action] == 'record'%>">
  <a href="users/record"><%= image_tag 'users_record.png' %>操作记录</a>
</li>
