<% content_for :sidebar do %>
  <%= render 'sidebar' %>
<% end %>

<h1>这里是操作记录</h1>
<table class="table table-bordered">
  <thead>
    <th>操作者ID</th>
    <th>操作者姓名</th>
    <th>数据表</th>
    <th>数据ID</th>
    <th>操作对象</th>
    <th>操作</th>
    <th>日期</th>
  </thead>
  <% @log.each do |f| %>
    <tr>user_id</tr>
    <tr>show_name</tr>
    <tr>table</tr>
    <tr>obj_id</tr>
    <tr>object_name</tr>
    <tr>action</tr>
    <tr>created_at</tr>
  <% end %>
</table>
