<div class="">
  <div class="">
    <ul>
      <li>按职位查看</li>
      <li>近三个月简历</li>
      <li>公开简历</li>
    </ul>

    <!-- 按职位查看 -->
    <ul>
      <li></li>
    </ul>
  </div>
</div>

<!-- 引入底部导航 -->
<%= render '/layouts/employer_footer' %>
