<div class="toast infoConfirm">
  <div class="main">
    <h1>HI FRIEND</h1>
    <h1>尊敬的朋友</h1>
    <p class="first">我是雨大大，现诚邀您体验hellobaby内测。</p>
    <p>特发你一枚尊贵专属邀请码</p>
    <div class="code">
      <p>邀请码</p>
      <div class="first">8</div>
      <div class="second">8</div>
      <div class="third">8</div>
      <div class="fourth">8</div>
      <div class="fifth">8</div>
      <div class="last">8</div>
    </div>
    <div class="notice">
      <p>使用说明</p>
      <div>请关注“hellobaby秀色可餐”微信公众号!进入：“我要报名”，点击“测试”，进行webapp测试，首界面请输入分享给您的“邀请码”</div>
    </div>
  </div>
</div>
<script>

      if (<%= @code %>){
          var code = "<%= @code %>";
          var code1 = code.substr(0,1);
          var code2 = code.substr(1,1);
          var code3 = code.substr(2,1);
          var code4 = code.substr(3,1);
          var code5 = code.substr(4,1);
          var code6 = code.substr(5,1);
          $('.code .first').html(code1);
          $('.code .second').html(code2);
          $('.code .third').html(code3);
          $('.code .fourth').html(code4);
          $('.code .fifth').html(code5);
          $('.code .last').html(code6);
      }else{
          $('.code .first').html(8);
          $('.code .second').html(8);
          $('.code .third').html(8);
          $('.code .fourth').html(8);
          $('.code .fifth').html(8);
          $('.code .last').html(8);
      }

</script>
