<% content_for :sidebar do %>
  <%= render 'sidebar' %>
<% end %>

<ol class="breadcrumb">
  <li><a href="/admin/fairs">医聘专场</a></li>
  <li><a href="admin/fairs">当前专场</a></li>
  <li class="active"><%= @fair.name %></li>
</ol>
