    <ul class="list-group">
      <li class="list-group-item">
        <%= link_to "职位发布审核" %>
      </li>
      <li class="list-group-item">
        <%= link_to "职位管理" %>
      </li>
      <li class="list-group-item">
        <%= link_to "[用户]" %>
      </li>
    </ul>
