    <ul class="list-group">
      <li class="list-group-item">
        <%= link_to "职位发布审核", check_admin_jobs_path %>
      </li>
      <li class="list-group-item">
        <%= link_to "职位管理", '/admin/jobs' %>
      </li>
    </ul>
