    <ul class="nav nav-pills nav-stacked">
      <li class="">
        <a href="<%= check_admin_jobs_path %>"><%= image_tag 'admin_check.png' %> 职位发布审核</a>
      </li>
      <li class="active">
        <a href="/admin/jobs"><%= image_tag 'admin_index.png' %> 职位管理</a>
      </li>
    </ul>
